.topWishlist .text{
	position: relative;
	display: block;
}

.topWishlist .icon{
	background: url(/local/templates/stomart/images/heart.svg) 50% 50% no-repeat transparent;
	display: inline-block;
	height: 40px;
	width: 60px;
}

#subHeader4.color_black .topWishlist .icon,
#subHeader4.color_theme .topWishlist .icon,
#subHeader5.color_black .topWishlist .icon,
#subHeader5.color_theme .topWishlist .icon,
#subHeader7.color_black .topWishlist .icon,
#subHeader7.color_theme .topWishlist .icon,
#subHeader9.color_black .topWishlist .icon,
#subHeader9.color_theme .topWishlist .icon{
	background: url(images/wishlistH4w.png) 50% 50% no-repeat transparent;
	display: inline-block;
	height: 40px;
	width: 60px;
}

.topWishlist .active .icon:hover{
	opacity: 0.7;
}

.topWishlist .active .icon:active{
	position: relative;
	top: 1px;
}

.topWishlist .value{
	border: 2px solid #d1d1d1;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	overflow: hidden;
	font-size: 12px;
	color: #d1d1d1;
	height: 20px;
	width: 20px;
	right: 8px;
	top: 0;
}

#subHeader5.color_black .topWishlist .value,
#subHeader7.color_black .topWishlist .value,
#subHeader9.color_black .topWishlist .value{
	background-color: #2b2b2b;
}

.topWishlist .active .value:active{
	top: 1px;
}
