#left{
	position: relative;
}

#left .collapsed{
	position: absolute;
	width: 100%;
	z-index: 99;
}

.changeName + br{
	display: none;
}

.cheaper-product-name{
	visibility: hidden;
}

.videoFrame{
	border: 0;
}

#catalogElement{
	border-top: 1px solid #e7e8ea;
	position: relative;
}

#catalogElement h2{
	margin: 0;
}

#catalogElement.loading:after{
	background: url(images/loader.svg) no-repeat rgba(0, 0, 0, 0.2) 50% 50%;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
	position: fixed;
	height: 100vh;
	width: 100%;
	content: "";
	z-index: 999;
	top: 0px;
}

#catalogElement .getStoresWindow{
	text-decoration: none;
}

#elementSmallNavigation{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #e7e8ea;
	background-color: #f9f9f9;
	line-height: 50px;
	overflow: hidden;
	padding: 0 24px;
	display: none;
	height: 50px;
}

#elementSmallNavigation .tab{
	padding-right: 18px;
	margin-left: 18px;
	float: left;
}

#elementSmallNavigation .tab:first-child{
	border-left: 1px solid #e7e8ea;
	padding-left: 18px;
	margin-left: 0px;
}

#elementSmallNavigation a{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	position: relative;
	font-size: 13px;
	color: #000000;
    display: block;
}

#elementSmallNavigation a:hover{
	color: #888888;
}

#elementSmallNavigation a:active{
	position: relative;
	top: 1px;
}

#elementSmallNavigation a img{
	vertical-align: middle;
	padding-right: 12px;
}

#tableContainer{
	border-collapse: collapse;
	table-layout: fixed;
	display: table;
	width: 100%;
}

#tableContainer .column{
	display: table-cell;
}

#tableContainer .column:nth-child(2){
	vertical-align: middle;
	padding-bottom: 24px;
}

#elementNavigation{
	background-color: #f9f9f9;
	position: relative;
	padding-left: 24px;
	text-align: right;
	width: 355px;
}

#elementNavigation.fixed .tabs{
	position: fixed;
	width: 355px;
	top: 0;
}

#elementNavigation .tabs.maxScroll{
	position: absolute;
	bottom: 0px;
	right: 0px;
	top: unset;
}

#elementNavigation .tabs a{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	display: inline-block;
	padding: 16px 24px;
	font-size: 13px;
	color: #000000;
}

#elementNavigation .tabs .tab{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	padding: 0;
}

#elementNavigation .tabs .tab.disabled,
#elementSmallNavigation .tabs .tab.disabled{
	display: none;
}

#elementNavigation .tabs .tab.active a{
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background-color: #ffffff;
}

#elementNavigation .tabs img{
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;

	vertical-align: middle;
	padding-left: 24px;
	opacity: 0.8;
}

#elementNavigation .tabs a:hover{
	color: #888888;
}

#elementNavigation .tabs a:hover img{
	opacity: 1;
}

#smallElementTools{
	padding: 0 24px;
	display: none;
}

#smallElementTools .fastBack{
	font-family: "roboto_ltregular";
	display: inline-block;
	width: 220px;
	height: 45px;
	margin-bottom: 12px;
	line-height: 45px;
	text-align: center;
	background: #fff;
	border-radius: 2px;
}

.smallElementToolsContainer{
	padding: 24px 24px 12px 24px;
	margin-bottom: 18px;
	border: 1px solid #e7e8ea;
}

#elementTools .priceContainer{
	display: inline-block;
}

#smallElementTools .priceContainer{
	display: inline-block;
	vertical-align: middle;
}

#elementContainer #smallElementTools .purchaseBonus{
	display: block;
	vertical-align: middle;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 12px;
}

#smallElementTools .columnRowWrap{
	font-size: 0;
}

#smallElementTools .columnRow{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	box-sizing: border-box;
	padding-right: 6px;
}

#smallElementTools .columnRow:last-child{
	padding: 0 0 0 6px;
}

#smallElementTools .columnRow .fastBack{
	height: 60px;
	line-height: 60px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #d8d8d8;
}

#smallElementTools .columnRow .addCart{
	margin-top: 0;
}

#smallElementTools .columnRow .addCart{
	width: 100%;
	margin-bottom: 6px;
}

#smallElementTools .columnRow .fastBack{
	width: 100%;
	margin-bottom: 6px;
}

#smallElementTools .secondTool .row{
	display: inline-block;
	vertical-align: middle;
	margin-right: 24px;
}

#smallElementTools .smallElementToolsContainer .secondTool .row:last-child{
	margin-right: 0;
	margin-bottom: 12px;
}

#elementTools{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f9f9f9;
	padding: 24px 24px 0 24px;
	position: relative;
	width: 400px;
	z-index: 1;
}

#elementTools.fixed .fixContainer{
	background-color: #f9f9f9;
	margin-top: 12px;
	position: fixed;
	width: 400px;
	z-index: 33;
	top: 0;
}

#elementTools .fixContainer.maxScroll{
	padding-bottom: 12px;
	position: absolute;
	bottom: 0px;
	top: unset;
	left: 24px;
}

#elementTools .picture{
	display: none;
}

#elementTools .picture img{
	max-width: 280px;
}

#elementTools.fixed .fixContainer .picture{
	display: block;
}

#elementTools .row,
#smallElementTools .row{
	margin-bottom: 12px;
}

#elementTools .secondTool .row:last-child{
	margin-bottom: 0px;
}

#elementTools .row img,
#smallElementTools .row img{
	vertical-align: middle;
	padding-right: 6px;
	margin-top: -4px;
}

#elementTools .requestPrice{
	cursor: pointer;
}

#elementTools .label,
#smallElementTools .label{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 14px;
    color: #717171;
}

#smallElementTools .label{
	vertical-align: middle;
	display: inline-block;
}

#smallElementTools .qtyBlock img{
	margin-top: 0px;
}

#elementTools .label:hover,
#smallElementTools .label:hover{
	color: #000000;
}

#elementTools .label:active,
#smallElementTools .label:active{
	position: relative;
	top: 1px;
}

#elementTools .article,
#smallElementTools .article{
	margin-bottom: 12px;
	font-size: 14px;
	color: #888888;
}

#elementTools .price,
#smallElementTools .price{
	font-family: 'robotobold';
	text-decoration: none;
	margin-bottom: 12px;
	position: relative;
	font-size: 21px;
	display: block;
	color: #000000;
}

#elementTools .price .discount,
#smallElementTools .price .discount{
	color: #888888;
}

#elementTools .price .oldPriceLabel,
#smallElementTools .price .oldPriceLabel{
	font-family: 'roboto_condensedlight';
	text-decoration: none;
	margin-bottom: 6px;
	margin-right: 12px;
	font-size: 14px;
	display: inline-block;
	color: #888888;
}

#elementTools .purchaseBonus{
	font-family: "roboto_condensedlight";
	margin-top: 6px;
	font-size: 14px;
	color: #888888;
	display: block;
}

#elementTools .priceBlock,
#smallElementTools .priceBlock{
	display: block;
}

#elementTools .purchaseBonus span{
	display: inline-block;
	vertical-align: top;
	padding-right: 6px;
	font-family: "roboto_cnregular";
}

#smallElementTools .purchaseBonus{
	margin-top: 6px;
	font-family: "roboto_condensedlight";
	font-size: 14px;
	color: #888888;
}

#smallElementTools .purchaseBonus span{
	display: inline-block;
	vertical-align: top;
	padding-right: 6px;
	font-family: "roboto_cnregular";
}

#elementTools .priceValue,
#smallElementTools .priceValue{
	border-bottom: 1px dashed #bbbbbb;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	padding-bottom: 8px;
	color: #000000;
}

#elementTools .priceValue:hover,
#smallElementTools .priceValue:hover{
	color: #333333;
}

#elementTools .priceValue:active,
#smallElementTools .priceValue:active{
	position: relative;
	top: 1px;
}

#elementTools .priceIcon,
#smallElementTools .priceIcon{
	margin-right: 12px;
}

#catalogElement .fixContainer{
	width: 220px;
}

#catalogElement .mobileButtonsContainer{
	white-space: nowrap;
	font-size: 0;
}

#catalogElement .mainTool .addCart{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
	line-height: 60px;
	padding: 0px 18px;
	font-size: 16px;
	color: #ffffff;
	height: 60px;
	width: 220px;
}


@media all and (min-width: 1101px){

	#catalogElement .mainTool .addCartContainer:hover .addCart.requestPrice span,
	#catalogElement .mainTool .addCartContainer:hover .addCart.subscribe span,
	#catalogElement .mainTool .addCartContainer:hover .addCart.disabled span,
	#catalogElement .mainTool .addCartContainer:hover .addCart.added span,
	#catalogElement .mainTool .addCart span{
		transform: translate(-50%, -50%);
	    transition: all 0.2s ease-in-out;
	    display: inline-block;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	}


	#catalogElement .mainTool .qtyBlock{
		margin-bottom: 0px;
	}

	#catalogElement .mainTool .addCartContainer{
		position: relative;
		overflow: hidden;
		width: 220px;
	}

	#catalogElement .mainTool .qtyBlockContainer{
		transition: all 0.1s ease-in-out;
		transform: translateX(50px);
		position: absolute;
		visibility: hidden;
		right: 18px;
		opacity: 0;
		top: 16px;
	}

	#catalogElement .mainTool .addCartContainer:hover .qtyBlockContainer{
		transition: all 0.2s ease-in-out;
		transform: translateX(0px);
		visibility: visible;
		opacity: 1;
	}

	#catalogElement .mainTool .addCartContainer:hover .addCart span{
	    transform: translate(24px, -50%);
	    left: 0%;
	}

	#catalogElement .mainTool .addCartContainer:hover .addCart .icon{
		transition: all 0.4s ease-in-out;
		visibility: hidden;
	    padding: 0px;
	    height: 0px;
	    margin: 0px;
	    width: 0px;
	    opacity: 0;
	}

	#catalogElement .mainTool .addCartContainer:hover .addCart.requestPrice .icon,
	#catalogElement .mainTool .addCartContainer:hover .addCart.subscribe .icon,
	#catalogElement .mainTool .addCartContainer:hover .addCart.disabled .icon,
	#catalogElement .mainTool .addCartContainer:hover .addCart.added .icon{
	    padding-right: 12px;
		visibility: visible;
	    margin-top: -6px;
	    height: auto;
	    width: auto;
		opacity: 1;
	}

	#catalogElement .mainTool .qtyBlockContainer .qty{
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    background-color: transparent;
	    box-sizing: border-box;
	    vertical-align: middle;
	    display: inline-block;
	    text-align: center;
	    font-size: 12px;
	    padding: 0 2px;
	    color: #ffffff;
	    margin: 0 4px;
	    height: 28px;
	    width: 28px;
	    border: 0;
	}

	#catalogElement .mainTool .qtyBlockContainer .qty.error{
		color: #ff0000;
	}

	#catalogElement .mainTool .qtyBlock .plus,
	#catalogElement .mainTool .qtyBlock .minus{
	    background-color: rgba(255, 255, 255, 0.1);
	    vertical-align: middle;
	    display: inline-block;
	    min-width: auto;
	    padding: 0px;
	    height: 24px;
	    width: 24px;
	    border: 0px;
	}

	#catalogElement .mainTool .qtyBlock .minus,
	#catalogElement .mainTool .qtyBlock .plus{
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	#catalogElement .mainTool .qtyBlock .plus{
		background-image: url(images/basket-add-plus.png);
		border-radius: 2px 2px 0px 0px;
	}

	#catalogElement .mainTool .qtyBlock .minus{
		background-image: url(images/basket-add-minus.png);
		border-radius: 0px 0px 2px 2px;
	}

	#catalogElement .mainTool .qtyBlock .plus:hover,
	#catalogElement .mainTool .qtyBlock .minus:hover{
		background-color: rgba(255, 255, 255, 0.15);
	}

	#catalogElement .mainTool .qtyBlock .minus:active,
	#catalogElement .mainTool .qtyBlock .plus:active{
		position: relative;
		top: 1px;
	}

	#catalogElement .mainTool .qtyBlock .plus.error,
	#catalogElement .mainTool .qtyBlock .minus.error{
		background-color: #bc1414;
	}

}

#catalogElement .mainTool  .addCart.requestPrice + .qtyBlock,
#catalogElement .mainTool  .addCart.subscribe + .qtyBlock,
#catalogElement .mainTool  .addCart.disabled + .qtyBlock,
#catalogElement .mainTool  .addCart.added + .qtyBlock{
	display: none;
}

#elementTools .addCart .icon,
#smallElementTools .addCart .icon{
	padding-right: 12px;
	margin-top: -6px;
}

#elementTools .fastBack{
	display: inline-block;
	background: #ffffff;
	margin-bottom: 12px;
	text-align: center;
	border-radius: 4px;
	line-height: 50px;
	margin-top: 18px;
	font-size: 14px;
	color: #000000;
	width: 220px;
	height: 50px;
}

#elementTools .addCart.added,
#smallElementTools .addCart.added{
	background: #2b2b2b;
}

#elementTools .addCart.added:hover,
#smallElementTools .addCart.added:hover{
	background: #3b3b3b;
}

#elementTools .rating,
#elementContainer .mainContainer .rating,
#smallElementTools .rating{
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -4px;
	position: relative;
	overflow: hidden;
	height: 15px;
	width: 79px;
	z-index: 2;
}

#elementTools .rating i,
#elementContainer .mainContainer .rating i,
#smallElementTools .rating i{
	background: url(images/rating.png) repeat 0 0px transparent;
	height: 15px;
	width: 79px;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
}

#elementTools .rating i.m,
#elementContainer .mainContainer .rating i.m,
#smallElementTools .rating i.m{
	background: url(images/rating.png) repeat 0 -14px transparent;
	width: 0px;
	z-index: 10;
}

#elementTools .icon,
#smallElementTools .icon{
	vertical-align: middle;
	display: inline-block;
}

.ya-share-label{
	margin-bottom: 6px;
	margin-top: 30px;
	color: #717171;
}

#elementContainer{
	position: relative;
	width: 100%;
}

#elementContainer .mainContainer{
	border-collapse: collapse;
	table-layout: fixed;
	display: table;
	width: 100%;
}

#elementContainer .description{
	margin: 12px 0;
	font-family: "roboto_ltregular";
}

#elementContainer .description .heading{
	margin-bottom: 6px;
	font-size: 16px;
}

#elementContainer .changeShortDescription{
	font-size: 13px;
	line-height: 16px;
}

#elementContainer .description .readMore{
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin: 4px 0;
	display: block;
	color: #888888;
}

#elementContainer .description .readMore:hover{
	color: #000000;
}

#elementContainer .mainContainer .col{
	position: relative;
	vertical-align: middle;
	display: table-cell;
	padding: 24px 0;
	width: 50%;
}

#elementContainer .mainContainer .secondCol{
	vertical-align: top;
	padding-right: 24px;
	position: static;
}

#elementContainer .mainContainer .col.hide{
	display: none;
}

#elementContainer .mainContainer .col:first-child{
	vertical-align: middle;
	text-align: center;
	padding: 24px 12px;
}

#elementContainer #pictureContainer .pictureSlider{
	table-layout: fixed;
}

#elementContainer #pictureContainer .pictureSlider .item:first-child{
	display: block;
}

#elementContainer #pictureContainer .pictureSlider .item{
	padding: 0 24px;
	display: none;
}

#elementContainer #pictureContainer .item a{
	text-align: center;
	display: block;
}

#elementContainer #pictureContainer .item a img{
	vertical-align: middle;
	max-height: 100%;
	max-width: 90%;
}

#elementContainer #moreImagesCarousel{
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	position: relative;
	padding-top: 24px;
	margin-top: 24px;
	overflow: hidden;
	opacity: 0;
}

#elementContainer #moreImagesCarousel.show{
	visibility: visible;
	opacity: 1;
}

#elementContainer #moreImagesCarousel.hide{
	display: none;
}

#elementContainer #moreImagesCarousel #moreImagesLeftButton,
#elementContainer #moreImagesCarousel #moreImagesRightButton{
	background: url(images/carouselArrowSmall.png) 0 0 no-repeat transparent;
	position: absolute;
	margin-top: 3px;
	height: 16px;
	opacity: 0.5;
	z-index: 2;
	width: 14px;
	top: 50%;
}

#elementContainer #moreImagesCarousel #moreImagesLeftButton:hover,
#elementContainer #moreImagesCarousel #moreImagesRightButton:hover{
	opacity: 0.8;
}

#elementContainer #moreImagesCarousel #moreImagesLeftButton:active,
#elementContainer #moreImagesCarousel #moreImagesRightButton:active{
	opacity: 1;
}

#elementContainer #moreImagesCarousel #moreImagesLeftButton{
	left: 32px;
}

#elementContainer #moreImagesCarousel #moreImagesRightButton{
	background-position: -14px 0;
	right: 32px;
}

#elementContainer #moreImagesCarousel .carouselWrapper{
	overflow: hidden;
	margin: auto;
	width: 80%;
}

#elementContainer #moreImagesCarousel .slideBox{
	position: relative;
	overflow: hidden;
	list-style: none;
	height: 62px;
	padding: 0;
	margin: 0;
}

#elementContainer #moreImagesCarousel .slideBox .item{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	position: relative;
	text-align: center;
	line-height: 50px;
	opacity: 0.5;
	height: 50px;
	float: left;
}

#elementContainer #moreImagesCarousel .slideBox .item.selected{
	opacity: 1;
}

#elementContainer #moreImagesCarousel .slideBox .item.selected:after{
	transform: translateX(-50%);
	border-bottom: 2px solid #000000;
	position: absolute;
	display: block;
	content: "";
	width: 30%;
	left: 50%;
	bottom : -12px;
}

#elementContainer #moreImagesCarousel .slideBox .item a{
	display: block;
	line-height: 50px;
	height: 50px;
}


#elementContainer #moreImagesCarousel .slideBox .item img{
	vertical-align: middle;
	/*margin-top: -4px;*/
    max-height: 100%;
    max-width: 100%;
}

#elementContainer .mainContainer .markerContainer{
	position: absolute;
	z-index: 3;
	left: 24px;
	top: 24px;
}

#elementContainer .wishCompWrap{
	position: absolute;
	z-index: 2;
	right: 30px;
	top: 24px;
}

#elementContainer .wishCompWrap .elem{
	display: block;
	position: relative;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	margin-bottom: 8px;
	border: 1px solid #f1f1f1;
	border-radius: 2px;
	background: #fff;
	font-size: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#elementContainer .wishCompWrap .elem:before,
#elementContainer .wishCompWrap .elem:after{
	content: "";
	position: absolute;
	left: 9px;
	top: 9px;
	width: 16px;
	height: 16px;
	background: url("images/wishCompImage.png") 0 0 no-repeat;
	transition: all 0.2s ease-in-out;
}

#elementContainer .wishCompWrap .elem:after{ opacity: 0; }
#elementContainer .wishCompWrap .addWishlist:before{ background-position: 0px 0px; }
#elementContainer .wishCompWrap .addWishlist:after{ background-position: -16px 0px; }
#elementContainer .wishCompWrap .addCompare:before{ background-position: 0px -16px; }
#elementContainer .wishCompWrap .addCompare:after{ background-position: -16px -16px; }
#elementContainer .wishCompWrap .elem:hover { border-color: #e7e8ea; background: #e7e8ea; }
#elementContainer .wishCompWrap .elem:active { top: 1px; }
#elementContainer .wishCompWrap .elem.added:before { opacity: 0; }
#elementContainer .wishCompWrap .elem.added:after { opacity: 1; }

#elementContainer .wishCompWrap .elem img{
	display: none;
	display: inline-block;
	vertical-align: middle;
}

#elementContainer .marker {
	font: normal normal 12px "roboto_ltregular" , arial , sans-serif;
	background-color: #424242;
	margin-bottom: 8px;
	color: #fff;
	padding: 3px 4px;
	line-height: 16px;
	z-index: 2;
}

#elementContainer .brandImageWrap{
	display: block;
}


#elementContainer .brandImageWrap .tb{
	width: auto;
}

#elementContainer .brandImage{
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 24px;
	margin-right: 66px;
}

#elementContainer .bindAction{
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 24px;
	line-height: 18px;
	font-size: 13px;
}

/*#elementContainer .tb{
	width: auto;
}*/

#elementContainer .bindActionImage{
	width: 38px;
}

#elementContainer .bindActionImage .image{
	display: block;
	width: 30px;
	height: 30px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

#elementContainer .bindAction a {
	position: relative;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#elementContainer .bindAction a:active {
	position: relative;
	top: 1px;
}

.newReviewTable{
	font-size: 0;
}

.newReviewTable .left{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	font-size: 14px;
	padding-right: 24px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.newReviewTable .right{
	display: inline-block;
	width: 50%;
	vertical-align: top;
	font-size: 14px;
}

.reviewsBtnWrap{
	padding-bottom: 6px;
	border-bottom: 1px solid #e8e8e8;
	margin-top: 6px;
}

.reviewsBtnWrap .row{
	display: inline-block;
	vertical-align: top;
	margin: 0 36px 12px 0;
    font-family: 'roboto_ltregular';
    font-size: 13px;
}

.reviewsBtnWrap .row:last-child{
	margin-right: 0;
}

.reviewsBtnWrap .row img{
	vertical-align: middle;
	padding-right: 6px;
	margin-top: -4px;
}

.reviewsBtnWrap .label{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    text-decoration: none;
    line-height: 21px;
    color: #717171;
}

.reviewsBtnWrap .labelDotted{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	color: #000000;
	border-bottom: 1px dashed #b9b9b9;
}

.reviewsBtnWrap a.label:hover .labelDotted{
	border-color: #000000;
}

.reviewsBtnWrap a.label:hover{
	color: #000000;
}

.reviewsBtnWrap a.label:active{
	position: relative;
	top: 1px;
}




#elementContainer .brandImage img{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	vertical-align: middle;
	max-height: 34px;
	max-width: 200px;
}

#elementContainer .brandImage:hover img{
	opacity: 0.7;
}

#elementContainer .headingBox{
    table-layout: fixed;
    display: table;
    width: 100%;
}

#elementContainer .headingBox .heading{
	display: table-cell;
	vertical-align: top;
	padding-bottom: 12px;
	font-size: 16px;
}

#elementContainer .headingBox .moreProperties{
	vertical-align: top;
	display: table-cell;
	padding-right: 24px;
	padding-left: 12px;
	width: 40%;
}

#elementContainer .headingBox .morePropertiesLink{
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	/*text-decoration: none;*/
	color: #888888;
}

#elementContainer .headingBox .morePropertiesLink:hover{
	color: #000000;
}

#elementContainer .elementProperties .propertyTable{
	table-layout: fixed;
	display: table;
	width: 100%;
}

#elementContainer .elementProperties .propertyTable{
	font-size: 13px;
}

#elementContainer .elementProperties .propertyTable .propertyName,
#elementContainer .elementProperties .propertyTable .propertyValue{
	background-color: #ffffff;
	vertical-align: middle;
	display: table-cell;
	position: relative;
	overflow: hidden;
	padding: 2px 0;
}

#elementContainer .elementProperties .propertyTable .propertyValue{
	padding-left: 12px;
	width: 40%;
}

#elementContainer .elementProperties .propertyTable .analog{
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	color: #000000;
}

#elementContainer .elementProperties .propertyTable .analog:hover{
	color: #888888;
}

#elementContainer .elementProperties .propertyTable .propertyName:after{
    border-bottom: 1px dotted #cccccc;
    position: absolute;
    margin-left: 12px;
    height: 13px;
    content: '';
    width: 100%;
}

#elementContainer .elementSkuPropertyValue{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#elementContainer .elementSkuPropertyValue.loading{
	opacity: 0.5;
}

#elementContainer .elementSkuVariantLabel{
	margin-top: 12px;
	font-size: 16px;
}

#elementContainer .elementSkuPropertyName{
	font-size: 13px;
	color: #888888;
}

#elementContainer .elementSkuPropertyList{
	overflow: hidden;
	list-style: none;
	margin: 0px -2px 0 -4px;
	padding: 0px;
}

#elementContainer .elementSkuProperty{
	overflow: hidden;
	margin: 6px 0 12px;
}

#elementContainer .elementSkuPropertyDropdown{
	margin: 6px 0 12px;
}

#elementContainer .elementSkuProperty li{
	box-sizing: border-box;
	overflow: hidden;
	min-width: 54px;
	padding: 4px 2px 2px 4px;
	float: left;
}

#elementContainer .elementSkuProperty .selected .elementSkuPropertyLink{
	pointer-events: none;
	position: relative;
}

#elementContainer .elementSkuProperty .disabled{
	display: none;
}

#elementContainer .elementSkuPropertyLink{
	transition: all 0.2s ease-in-out;
	border: 1px solid transparent;
	background-color: #f5f5f5;
	text-decoration: none;
	border-radius: 4px;
	text-align: center;
	line-height: 24px;
	padding: 8px 12px;
	font-size: 14px;
	display: block;
	color: #000000;
}

#elementContainer .selected .elementSkuPropertyLink{
	background-color: transparent;
}

#elementContainer .elementSkuPropertyPicture{
	background-color: transparent;
	border: 1px solid transparent;
	position: relative;
	border-radius: 4px;
	line-height: 54px;
	height: 54px;
	padding: 0px;
	width: 54px;
}

#elementContainer .elementSkuPropertyPicture:after{
	background-color: rgba(0, 0, 0, 0.04);
	pointer-events: none;
	position: absolute;
	border-radius: 4px;
	content: "";
	height: 54px;
	width: 54px;
	left: 0px;
	top: 0px;
}

#elementContainer .elementSkuPropertyLink:active{
	position: relative;
	top: 1px;
}

#elementContainer .elementSkuPropertyList img{
	vertical-align: middle;
    max-height: 100%;
 	max-width: 100%;
}

#catalogElement .elementSkuDropDownProperty{
	overflow: visible;
}

#catalogElement .elementSkuDropDownProperty .skuDropdownListItem {
    box-sizing: content-box;
    overflow: visible;
    min-width: auto;
    padding: 0px;
    float: none;
}

#catalogElement .skuDropdown{
	background-color: #ffffff;
    border: 1px solid #e7e8ea;
	position: relative;
	line-height: 13px;
	font-size: 13px;
	display: block;
	-webkit-user-select: none; 
	-moz-user-select: none;     
	-ms-user-select: none; 
	border-radius: 2px;
	width: 264px;
	margin-top: 4px;
}

#catalogElement .skuCheckedItem{
	background: url(images/selectArrow.png) 97% 50% no-repeat transparent;
	padding: 12px 30px 12px 8px !important;
	border-radius: 4px;
	display: block;
	cursor: pointer;
}

#catalogElement .skuCheckedItem:hover{
	opacity: 0.8;
}

#catalogElement .skuCheckedItem:active{
	position: relative;
	top: 1px;
}

#catalogElement .skuDropdown label:before,
#catalogElement .skuCheckboxList label:before {
	display: none;
}

#catalogElement .skuDropdownList {
	background-color: #ffffff;
    border: 1px solid #e7e8ea;
    visibility: hidden;
    position: absolute;
    list-style: none;
    margin: 0 -1px;
    opacity: 0;
    padding: 0;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
}

#catalogElement .skuDropdownList.opened{
	visibility: visible;
	opacity: 1;
}

#catalogElement .pics .skuDropdownList{
	top: 52px;
}

#catalogElement .skuDropdownList .elementSkuPropertyValue{
	border-top: 1px solid #e7e8ea;
	position: relative;
	display: block;
}

#catalogElement .skuDropdownList .elementSkuPropertyValue:first-child{
	border-top: 0px;
}

#catalogElement .skuDropdownList .selected{
	font-family: "robotomedium";
	background-color: #f9f9f9;
	cursor: pointer;
	color: #ffffff;
	opacity: 0.8;
}

#catalogElement .skuDropdownList .elementSkuPropertyValue:hover{
	background-color: #f9f9f9;
	cursor: pointer;
	color: #ffffff;
	opacity: 0.8;
}

#catalogElement .skuDropdownList .skuPropertyItemLink{
	padding: 12px 8px !important;
	text-decoration: none;
	line-height: 18px;
	text-align: left;
	font-size: 13px;
	color: #000000;
	display: block;
	border: 0px;
}

#catalogElement .skuDropdownList .skuDropdownListItem.selected .skuPropertyItemLink{
	border: 0px;
}

#catalogElement .skuDropdownList .skuDropdownListItem.disabled{
	display: none;
}

#catalogElement .skuDropdownList .elementSkuPropertyValue:active .skuPropertyItemLink,
#catalogElement .skuDropdownList .skuPropertyItemLink:active{
	position: relative;
	top: 1px;
}

.changePropertiesNoGroup{
	margin-top: 24px;
}

#elementContainer #detailText,
#elementContainer #detailTags{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*margin-top: 24px;*/
	overflow: hidden;
	padding: 0 24px 24px 24px;
	font-size: 14px;
	clear: both;
}

#elementContainer #detailTags{
	padding-bottom: 0px;
}

#elementContainer #detailText .heading,
#elementContainer #detailTags .heading{
	border-top: 1px solid #e7e8ea;
    font-family: 'robotobold';
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 36px 0;
    font-weight: 800;
    font-size: 20px;
}

#elementContainer #detailText img{
	max-width: 100%;
}

#elementContainer .defailTagsItems{
	margin-bottom: 12px;
}

#elementContainer .detailTagsItems .detailTagsItem{
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 12px;
	margin-right: 12px;
}

#elementContainer .detailTagsItems .detailTagsItem:last-child{
	margin-right: 0px;
}

#elementContainer .detailTagsItems .detailTagsLink{
	transition: all 0.2s ease-in-out;
	display: block;
	background-color: #f4f4f4;
	text-decoration: none;
	padding: 6px 12px;
	border-radius: 4px;
	color: #000000;
}

#elementContainer .detailTagsItems .detailTagsLink.selected{
	font-family: 'robotomedium';
}

#elementContainer .detailTagsItems .detailTagsLink.selected .reset{
	vertical-align: middle;
	display: inline-block;
	margin-left: 6px;
	font-size: 13px;
}

#elementContainer .detailTagsItems .detailTagsLink:hover{
	background-color: #f0f0f0;
}

#elementContainer .detailTagsItems .detailTagsLink:active{
	position: relative;
	top: 1px;
}

#elementContainer .detailTagsItems .moreButton .detailTagsLink{
	background-color: #ffffff;
	border: 1px solid #e7e8ea;
}

#elementContainer .detailTagsItems .moreButton .detailTagsLink:hover{
	background-color: #fbfbfb;
}

#elementContainer .detailTagsItems .detailTagsItem.showAll{
	display: inline-block !important;
}

@media screen and (min-width: 600px){
	#elementContainer .detailTagsItems .desktopHidden{
		display: none;
	}
}

@media screen and (max-width: 600px){
	#elementContainer .detailTagsItems .mobileHidden,
	#elementContainer #detailTags.mobileHidden{
		display: none;
	}
}

#morePhotoSlider{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	margin: 24px 48px 0 48px;
}

#morePhotoSlider .morePhotos{
	-webkit-transition: opacity 0.6s ease-in-out;
	-o-transition: opacity 0.6s ease-in-out;
	transition: opacity 0.6s ease-in-out;
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
}

#morePhotoSlider .morePhotos .photoItem{
	/*transform: scale(0.7);*/
	position: relative;
	text-align: center;
	opacity: 0.6;
	float: left;
}

#morePhotoSlider .morePhotos .photoItem.selected{
	padding-bottom: 24px;
	/*transform: scale(1);*/
	opacity: 1;
}

#morePhotoSlider .morePhotos .photoItem.selected:after{
	transform: translateX(-50%);
	border-bottom: 2px solid #000000;
	position: absolute;
	display: block;
	content: "";
	width: 30%;
	left: 50%;
	bottom : 0px;
}

#morePhotoSlider .morePhotos .photoItem a{
	display: inline-block;
	line-height: 100px;
	height: 100px;
}

#morePhotoSlider .morePhotos .photoItem img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

#elementContainer .zoom{
	cursor: zoom-in;
}

#related, 
#similar{
	margin-top: 24px;
}

#related .heading, 
#similar .heading{
	border-top: 1px solid #e7e8ea;
	font-family: 'robotobold';
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 36px 24px;
	font-weight: 800;
	font-size: 20px;
}

#catalogElement .productList{
	border-left: 0px;
}

#catalogElement .product{
	width: 25%;
}

#giftContainer{
	padding-bottom: 24px;
    margin-top: 24px; 
}

#giftContainer .heading{
	border-top: 1px solid #e7e8ea;
    font-family: 'robotobold';
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 36px 24px;
    font-weight: 800;
    font-size: 20px;
    display: block;
}

#elementProperties{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*margin-top: 24px;*/
	padding: 0 24px;
	overflow: auto;
}

#elementProperties .heading{
	border-top: 1px solid #efefef;
	font-family: 'robotobold';
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 36px 0px 24px 0;
	font-weight: 800;
	font-size: 20px;
	display: block;
}

.elementProperties a{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #000000;
}

#elementProperties .stats {
	/*min-width: 600px;*/
	width: 100%;
	padding: 12px;
	border-collapse: collapse;
	table-layout: fixed;
}

#elementProperties .stats a{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #000000;
}

#elementProperties .stats a:active{
	position: relative;
	top: 1px;
}

#elementProperties .stats td{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#elementProperties .stats .question {
	background: url("images/questions.png") 0 0 transparent;
	-webkit-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
	vertical-align: middle;
	display: inline-block;
	margin-left: 6px;
	height: 19px;
	width: 19px;
}

#elementProperties .stats .question:hover {
	background: url("images/questions.png") -19px 0 transparent;
}

#elementProperties .stats .question:active {
	background: url("images/questions.png") -38px 0 transparent;
}

#elementProperties .stats tr {
	border: 1px solid #e4e4e4;
}

#elementProperties .stats tr.gray:last-child{
	border-bottom: 0px;
}

#elementProperties .stats .gray td {
	background-color: #F6F6F6;
}

#elementProperties .stats tr:hover td {
	background: #eee;
}

#elementProperties .stats .cap,
#elementProperties .stats .cap:hover td {
	background-color: #fff !important;
	border: 0 !important;
}

#elementProperties .stats .cap td {
	font-size: 18px;
	color: #000000;
	padding: 12px 0;
}

#elementProperties .stats td {
	padding: 6px 0px;
}

#elementProperties .stats .name {
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
	padding-left: 12px;
	overflow: hidden;
	width: 40%;
}

#elementProperties .stats .name span {
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
	padding-right: 12px;
}

#elementProperties .stats .analog {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-size: 13px;
	text-decoration: none;
	color: #9d9d9d;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 1px;
}

#elementProperties .stats .analog:hover {
	color: #000000;
	border-bottom-color: #000000;
}

#elementProperties .stats .analog:active {
	position: relative;
	top: 1px;
}

#elementProperties .stats .right {
	text-align: right;
	padding-right: 10%;
}

#catalogElement .bx_pagination_bottom{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 24px;
}

#files{
	margin-top: 24px;
}

#files .wrap{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 24px;
}

#files .heading{
	border-top: 1px solid #efefef;
	font-family: 'robotobold';
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 36px 24px;
	font-weight: 800;
	font-size: 20px;
	display: block;
}

#files .items{
	overflow: hidden;
}

#files .item{
	margin-bottom: 24px;
	overflow: hidden;
	height: 65px;
	float: left;
	width: 25%;
}

#files .item .tb{
	table-layout: fixed;
	display: table;
	width: 100%;
}

#files .item .tbr{
	display: table-row;
}

#files .item .icon{
	vertical-align: middle;
	display: table-cell;
	width: 20%;
}

#files .item .icon a{
	display: block;
}

#files .item .icon img{
	vertical-align: middle;
	max-width: 100%;
}

#files .item .info{
	vertical-align: middle;
	display: table-cell;
	padding-right: 18px;
	width: 50%;
}

#files .item .info .name{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 25px;
	overflow: hidden;
	font-size: 14px;
	display: block;
	color: #000000;
	height: 25px;
}

#files .item .info .name span{
	vertical-align: middle;
	display: inline-block;
	line-height: 21px;
}

#files .item small{
	display: block;
}

#video{
	margin-top: 24px;
}

#video .wrap{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 24px;
}

#video .heading{
	border-top: 1px solid #efefef;
	font-family: 'robotobold';
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 36px 24px;
	font-weight: 800;
	font-size: 20px;
	display: block;
}

#video .items{
	overflow: hidden;
	margin: 0 -12px;
}

#video .items.sz1{
	margin: 0;
}

#video .item{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 33.33333%;
	padding: 0px 12px 24px 12px;
}

#video .item iframe{
	height: 200px;
	width: 100%;
}

#video .items.sz1 .item{
	padding: 0px;
	width: 100%;
}

#video .items.sz1 iframe{
	height: 500px;
}

#video .items.sz2 .item{
	width: 50%;
}

#video .items.sz2 iframe{
	height: 300px;
}


#elementError {
	background-color: rgba(0, 0, 0, 0.298);
	display: none;
	height: 100%;
	left: 0px;
	overflow: visible;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 998;
}

#elementErrorContainer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.500);
	background-color: #ffffff;
	margin-left: -150px;
	margin-top: -130px;
	position: relative;
	overflow: hidden;
	color: #000000;
	width: 300px;
	z-index: 999;
	left: 50%;
	top: 50%;
}

#elementErrorContainer span.heading {
	background-color: #424242;
	color: #ffffff;
	display: block;
	font-size: 16px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#elementErrorContainer p {
	text-align: center;
	color: #000000;
	padding: 12px;
}

#elementErrorContainer #elementErrorClose {
	background: url("images/exit.png") 0px 0px no-repeat transparent;
	margin-bottom: 24px;
	position: absolute;
	display: block;
	height: 21px;
	right: 24px;
	width: 21px;
	top: 16px;
}

#elementErrorContainer #elementErrorClose:hover {
	background: url("images/exit.png") 0px -21px no-repeat transparent;
}

#elementErrorContainer #elementErrorClose:active {
	background: url("images/exit.png") 0px -42px no-repeat transparent;
}

#elementErrorContainer .close {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #cccccc;
	background: #424242;
	width: 140px;
	text-decoration: none;
	margin: 0px auto 12px;
}

#elementErrorContainer .close:hover {
	background: #2b2b2b;
}

#elementErrorContainer .close:active {
	position: relative;
	top: 1px;
}

#catalogElement #hint {
	position: absolute;
	border: 1px solid #bdbdbd;
	background: #fff;
	width: 300px;
	box-shadow: 1px 1px 12px #dbdbdb;
	padding: 12px;
}

#catalogElement #hint span {
	font-size: 14px;
	line-height: 31px;
	font-weight: 600;
	display: block;
}

#catalogElement #hint ins {
	background: url("images/clear.png") no-repeat 0 0 transparent;
	display: block;
	position: absolute;
	top: 12px;
	right: 12px;
	width: 10px;
	height: 9px;
	cursor: pointer;
}

#catalogElement #hint ins:active {
	top: 13px;
}

#skuOffersTable{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#skuOffersTable .offersTableContainer{
	box-sizing: border-box;
	padding: 0px 24px;
}

#skuOffersTable .offersTableContainerBtn{
	margin-top: 24px;
	text-align: center;
}

#skuOffersTable .catalogProductOffersNext img{
	vertical-align: middle;
	display: inline-block;
	margin-right: 8px;
	margin-top: -2px;
}

#skuOffersTable .catalogProductOffersNext.btn-simple{
	border-radius: 4px;
	width: 156px;
}

#skuOffersTable .heading{
    border-top: 1px solid #e7e8ea;
    font-family: 'robotomedium';
    text-transform: uppercase;
    padding: 36px 24px;
    font-weight: 800;
    font-size: 20px;
    display: block;
}

#skuOffersTable .offersTable{
	width: 100%;
}

#skuOffersTable .tb{
	transition: all 0.2s ease-in-out;
	width: 100%;
}

#skuOffersTable .tableElem .tb:hover{
	background-color: #fdfdfd;
}

#skuOffersTable .tc{
	box-sizing: border-box;
	text-align: center;
	padding: 8px 6px;
}

#skuOffersTable .thead{
	border-radius: 4px;
	background: #f1f1f1;
}

#skuOffersTable .thead .tc{
	padding: 12px 6px;
}

#skuOffersTable .tableElem{
	border: 1px solid #f1f1f1;
	border-radius: 4px;
	margin-top: 8px;
}

#skuOffersTable .offersTable th,
#skuOffersTable .offersTable td{
	text-align: center;
}

#skuOffersTable .offersTable th{
	background-color: #f1f1f1;
	padding: 12px 0px;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
}

#skuOffersTable .offersTable td{
	border-bottom: 1px solid #f3f3f3;
	border-top: 1px solid #f3f3f3;
	padding-bottom: 8px;
	padding-top: 8px;
}

#skuOffersTable .offersTable th{
	border-bottom: 1px solid #f3f3f3;
	border-top: 1px solid #f3f3f3;
}

#skuOffersTable .offersTable th:first-child,
#skuOffersTable .offersTable td:first-child{
	border-left: 1px solid #f3f3f3;
}

#skuOffersTable .offersTable th:last-child,
#skuOffersTable .offersTable td:last-child{
	border-right: 1px solid #f3f3f3;
}

#skuOffersTable .offersTable .offersName{
	text-align: left;
	width: 220px;
}

#skuOffersTable .offersTable .offersName + td{
	padding-left: 12px;
}

#skuOffersTable .offersTable .offersPicture{
	width: 96px;
}

#skuOffersTable .offersTable .offersPicture img{
	vertical-align: middle;
	max-height: 54px;
	max-width: 42px;
	height: auto;
	width: auto;
}

#skuOffersTable .offersTable .priceWrap{
	width: 184px;
}

#skuOffersTable .offersTable .quantity img{
    vertical-align: middle;
    display: inline-block;
    padding-right: 6px;
    margin-top: -4px;
}

#skuOffersTable .offersTable .price{
	font-family: "robotomedium";
	position: relative;
	font-size: 16px;
}

#skuOffersTable .offersTable .getPricesWindow .priceIcon{
	display: none;
}

#skuOffersTable .offersTable .quanBaskWrap{
	width: 250px;
	padding: 0;
}

#skuOffersTable .offersTable .quanBaskWrap .tc{
	width: 50%;
}

#skuOffersTable .offersTable .basket{
	padding-right: 12px;
}

#skuOffersTable .offersTable .price .priceIcon{
	margin-right: 6px;
}

#skuOffersTable .offersTable .price .lnk{
	border-bottom: 1px dashed #000000;
	transition: all 0.2s ease-in-out;
	padding-bottom: 2px;
}

#skuOffersTable .offersTable .price:hover .lnk{
	border-color: #888888;
}

#skuOffersTable .offersTable .property{
	/*font-family: "robotobold";*/
	font-size: 14px;
}

#skuOffersTable .offersTable .discount{
	font-family: 'roboto_ltregular';
	position: absolute;
	font-size: 13px;
	color: #888888;
	display: block;
	right: -12px;
	top: -16px;
}

#skuOffersTable .offersTable .basket .addCart{
	/*width: 76px;*/
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	line-height: 30px;
	padding: 0 12px;
	color: #ffffff;
	height: 30px;
}

#skuOffersTable .offersTable .basket .addCart.requestPrice{
	margin-top: 0px;
}

#skuOffersTable .offersTable .basket .addCart:active{
	position: relative;
	top: 1px;
}

#skuOffersTable .offersTable .basket .addCart img{
	vertical-align: middle;
	display: inline-block;
	margin-right: 12px;
	margin-top: -4px;
}

#skuOffersTable .outOfStock{
	color: #888888;
}

#complect{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding: 0 24px;
}

#complect .heading{
	border-top: 1px solid #efefef;
	font-family: 'robotobold';
	text-transform: uppercase;
	padding: 24px 0px 12px 0;
	letter-spacing: 1px;
	font-weight: 800;
	font-size: 20px;
	display: block;
}

#complect .complectList{
	overflow: hidden;
	margin: 0 -12px;
}

#complect .complectListItem{
	position: relative;
	height: 355px;
	float: left;
	width: 25%;
}

#complect .complectListItemWrap{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px;
}

#complect .complectListItemPicture img{
	-webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    vertical-align: middle;
    max-height: 90%;
    max-width: 90%;
}

#complect .complectListItemPicture:hover img{
	opacity: 0.8;
}

#complect .complectListItemPicLink{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
    text-align: center;
    height: 240px;
    line-height: 240px;
}

#complect .complectListItemLink{
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    text-decoration: none;
    margin-bottom: 12px;
    line-height: 44px;
    overflow: hidden;
    font-size: 14px;
    display: block;
    height: 44px;
}

#complect .complectListItemLink .middle{
    display: inline-block;
    vertical-align: top;
    line-height: 21px;
}

#complect .complectListItemPrice{
	font-family: 'robotobold';
	font-size: 18px;
	display: block;
	text-decoration: none;
	margin-bottom: 12px;
}

#complect .complectListItemPrice .measure{
	font-size: 16px;
}

#complect .complectListItemPrice .discount{
	font-family: 'roboto_ltregular';
	padding-left: 4px;
	font-size: 14px;
}

#complect .complectResult{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #e8e8e8;
	background-color: #fdfdfd;
	padding-right: 24px;
	padding-left: 24px;
	line-height: 60px;
	overflow: hidden;
	height: 60px;
}

#complect .complectPriceResult{
	font-family: 'robotobold';
	display: inline-block;
	margin-left: 12px;
	font-size: 18px;
}

#complect .complectResult .discount{
	font-family: 'roboto_ltregular';
	margin-left: 12px;
	font-size: 14px;
	color: #888888;
}

#complect .complectResultEconomy{
	border-left: 1px solid #e8e8e8;
	padding-left: 24px;
	float: right;
}

#complect .complectResultEconomyValue{
	font-family: 'robotobold';
	margin-left: 12px;
	font-size: 16px;
}

#complect .complectListItem:after{
	font-family: 'roboto_thregular';
	transform: translateY(-50%);
	position: absolute;
	font-size: 48px;
	display: block;
	color: #888888;
	content: "+";
	right: -12px;
	top: 50%;

}

#complect .complectListItem:last-child:after,
#complect .complectListItem:nth-child(4n):after{
	display: none;
}

#zoomer{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
	transform: scale(0.7);
}

#zoomer.opened{
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

#zoomer #zoomerExitLink{
	background: url(images/exitBig.png) 0 0  no-repeat transparent;
	height: 50px;
	opacity: 0.5;
	width: 50px;
}

#zoomer #zoomerExitLink:hover{
	opacity: 0.8;
}

#zoomer #zoomerExitLink:active{
	height: 48px;
	opacity: 1;
	top: 25px;
}

#zoomerMoreImagesContainerWrapper .item{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#zoomerMoreImagesContainerWrapper .item:hover{
	opacity: 0.9 !important;
}

#zoomerMoreImagesContainerWrapper .selected{
	opacity: 1 !important;
}

#zoomerBigPrevMore,
#zoomerBigNextMore{
	background: url(images/carouselArrowsBig.png) 0 0 no-repeat transparent;
	opacity: 0.5;	
}

#zoomerBigNextMore{
	background-position: -57px 0;
}

#zoomerNextMore,
#zoomerPrevMore{
	background: url(images/carouselArrows.png) 0 0 no-repeat transparent;
	opacity: 0.5;
}


#zoomerNextMore{
	background-position: -80px 0;
}

#zoomerPrevMore:hover,
#zoomerNextMore:hover,
#zoomerBigPrevMore:hover,
#zoomerBigNextMore:hover{
	opacity: 0.8;
}

#zoomerPrevMore:active,
#zoomerNextMore:active,
#zoomerBigPrevMore:active,
#zoomerBigNextMore:active{
	opacity: 1;
}

#zoomerNextMore:active{
	right: -1px !important;
}

#zoomerPrevMore:active{
	left: -1px !important;
}

#zoomerBigPrevMore:active{
	left: 23px !important;
}

#zoomerBigNextMore:active{
	right: 23px !important;
}

#zoomerMoreImagesContainerWrapper .link:active{
	position: relative;
	top: 1px;
}

.catalogProductOffersPager{
	text-align: center;
}

.catalogProductOffersNext{
	margin-top: 24px;
}

#catalogElement input[type="radio"]:not(checked){
  position: absolute;
  opacity: 0;
}

#catalogElement input[type="radio"] + label{
	cursor: pointer;
}

#catalogElement input[type="radio"]:not(checked) + label{
	position: relative;
	padding-left: 28px;
}

.smallSpecialTime{
	padding-bottom: 12px;
	color: #ffffff;
	font-size: 0;
	line-height: 0;
}

.smallSpecialTime .specialTimeItem{
	display: inline-block;
	box-sizing: border-box;
	border-radius: 2px;
	text-align: center;
	overflow: hidden;
	margin-left: 4px;
	padding: 8px 0px;
	line-height: 14px;
	height: 42px;
	width: 48px;
}

.smallSpecialTime .specialTimeItem:first-child{
	margin-left: 0px;
}

.smallSpecialTime .specialTimeItemValue{
	font-family: 'robotomedium';
	font-size: 14px;
}

.smallSpecialTime .specialTimeItemlabel{
	font-family: "roboto_ltregular";
	font-size: 12px;
}

.detail-text-wrap{
	box-sizing: border-box;
    margin-top: 12px;
    padding: 0 24px 24px;
    border-top: 1px solid #e7e8ea;
}

.detail-text-wrap .heading {
	font-family: "robotomedium";
	padding: 30px 0 0px;
	display: block;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}

#elementContainer .new-list-items-wrap{
	border-top: 1px solid #e7e8ea;
	box-sizing: border-box;
	margin-bottom: 24px;
	margin-top: 0px;
	padding: 0 24px;
}

.new-list-items-wrap .heading{
	display: block;
	padding: 36px 0 18px;
	font-family: "robotomedium";
	font-size: 20px;
	text-transform: uppercase;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}

#elementContainer .new-list-items{
	max-width: none;
	margin: 0 -12px;
	font-size: 0;
}

.new-list-items .list-item-wrap{
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	padding: 12px;
	box-sizing: border-box;
}

.new-list-items .list-item{
	padding: 24px 18px;
	border: 1px solid #e7e8ea;
	border-radius: 2px;
}

.new-list-items .image{
	width: 54px;
	padding-right: 18px;
}

.new-list-items .image-container{
	display: block;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.new-list-items .image-container:hover{
	opacity: 0.9;
}

.new-list-items .image-container:active{
	position: relative;
	top: 1px;
}

.new-list-items .text{
	color: #000000;
}

.new-list-items .name{
	display: block;
	margin-bottom: 12px;
	font-size: 14px;
	line-height: 18px;
	max-height: 18px;
	overflow: hidden;
	text-decoration: none;
	color: #000000;
}

.new-list-items .name:active{
	position: relative;
	top: 1px;
}

.new-list-items .price{
	position: relative;
	display: inline-block;
	padding-right: 18px;
	font-size: 18px;
	font-family: "robotobold"
}

.new-list-items .old-price{
	position: absolute;
	right: 0;
	top: -12px;
	font-size: 13px;
	line-height: 15px;
	font-family: "roboto_ltregular";
	font-size: 13px;
	color: #888888;
}

.new-list-items .active-link{
	display: inline-block;
	font-family: "roboto_ltregular";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dashed #000000;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

@keyframes fadein{

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}
