	.tiles-list { max-width: none; margin: -12px; font-size: 0; }
	.tiles-list .tile-wrap { display: inline-block; width: 20%; padding: 12px; vertical-align: top; -webkit-box-sizing: border-box; box-sizing: border-box; color: #000; }
	.tiles-list .tile { height: 396px; border: 1px solid #e7e8ea; }
	.tiles-list .tb { height: 100%; }
	.tiles-list .tc { vertical-align: top; }
	.tiles-list .tile.no-image .tc { vertical-align: middle; }
	.tiles-list .tile.no-image .h3 { max-height: 60px; }
	.tiles-list .tile.center-image .image { background-size: contain; }
	.tiles-list .image-wrap { position: relative; display: block; height: 200px; overflow: hidden; }
	.tiles-list .image { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block; background-position: center center; background-size: cover; background-repeat: no-repeat; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
	.tiles-list .image-wrap:hover .image { -webkit-transform: scale(1.02); transform: scale(1.02); }
	.tiles-list .tile-text { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 12px 18px 18px; }
	.tiles-list .tile-time { font-family: "robotomedium"; font-size: 13px; color: #888888; }
	.tiles-list .tile-time:after { content: ""; display: block; width: 50px; height: 1px; margin: 8px 0 12px; background: #cccccc; }
	.tiles-list .tile-date { margin-bottom: 6px; font-size: 13px; color: #cccccc; }
	.tiles-list .h3 { max-height: 40px; overflow: hidden; margin-bottom: 6px; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
	.tiles-list .tile-descr { max-height: 45px; overflow: hidden; font-size: 13px; line-height: 15px; }
	.tiles-list .btn-simple { margin-top: 8px; }
	.tiles-list .tile-wrap:first-child { width: 40%; color: #fff; }
	.tiles-list .tile-wrap:first-child .tb { position: relative; }
	.tiles-list .tile-wrap:first-child .image-wrap { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
	.tiles-list .tile-wrap:first-child .h3 { font-size: 21px; line-height: 25px; max-height: 50px; color: #fff; }
	.tiles-list .tile-wrap:first-child .tile-text { position: absolute; z-index: 10; bottom: 0; left: 0; width: 100%; padding: 18px; background: rgba(0,0,0, 0.7); -webkit-box-shadow: 0 0 16px 0 rgba(255,255,255, 0.3); box-shadow: 0 0 16px 0 rgba(255,255,255, 0.3); }


	.blog-list .bigPicture {
		overflow: hidden;
	}

	.blog-list .bigPicture a {
		width: 100%;
		height: 100%;
		display: block;
	}

	.blog-list .bigPicture a img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	.blog-list .bigPicture a:hover img {
		-webkit-transform: scale(1.02);
		transform: scale(1.02);

	}

	@media screen and (max-width: 1700px){
		.tiles-list { margin: -6px; }
		.tiles-list .tile-wrap { padding: 6px; }
		.tiles-list .tile-text { padding: 12px; }
	}


	@media screen and (max-width: 1600px){
		.tiles-list .tile { height: 330px; }
		.tiles-list .tile-wrap:first-child { width: 50%; }
		.tiles-list .tile-wrap { width: 25%; }
		.tiles-list .tile-text { padding: 6px 12px; }
		.tiles-list .image-wrap { height: 160px; }
		.tiles-list .tile-time:after { margin: 3px 0 6px; }
		.tiles-list .h3 { font-size: 14px; line-height: 18px; max-height: 36px; }
		.tiles-list .tile.no-image .h3 { max-height: 51px; }
		.tiles-list .tile-wrap:first-child .h3 { max-height: 44px; font-size: 18px; line-height: 22px; }

		.blog-list .bigPicture a img {
			max-height: 165px;
		}
		.tiles-list.blog-list .tile-wrap:first-child .bigPicture a img {
			max-height: 320px;
		}
	}

	@media screen and (max-width: 1300px){
		.tiles-list .tile-wrap { width: 33.333%; }
		.tiles-list .tile-wrap:first-child { width: 66.666%; }
		.blog-list .bigPicture a img {
			max-height: 165px;
		}
		.tiles-list.blog-list .tile-wrap:first-child .bigPicture a img {
			max-height: 320px;
		}
	}

	@media screen and (max-width: 1024px){
		.tiles-list .tile-wrap { width: 25%; }
		.tiles-list .tile-wrap:first-child { width: 50%; }
	}

	@media screen and (max-width: 950px){
		.tiles-list .tile-wrap { width: 33.333%; }
		.tiles-list .tile-wrap:first-child { width: 66.666%; }
	}

	@media screen and (max-width: 800px){
		.tiles-list .tile-wrap:nth-child(n) { width: 100%; }
		.tiles-list .tile { height: auto; padding: 18px; }
		.tiles-list .tb {  }
		.tiles-list .tc { display: table-row; }
		.tiles-list .tile-wrap:first-child .bigPicture { position: relative; left: auto; top: auto; display: table-cell; vertical-align: middle; width: 40%; height: auto; padding-right: 4%; }
		.tiles-list .bigPicture { display: table-cell; vertical-align: middle; width: 40%; height: auto; padding-right: 4%; }
		.blog-list.tiles-list .bigPicture img { position: relative; left: auto; top: auto; height: 140px; }
		.tiles-list .tile-date { margin-bottom: 3px; }
		.tiles-list .tile-descr { max-height: 30px; }
		.tiles-list .tile-wrap:first-child .tile-text { position: relative; left: auto; bottom: auto; width: auto; background: no-repeat; -webkit-box-shadow: none; box-shadow: none; text-align: left; color: #000; }
		.tiles-list .tile-wrap:nth-child(n) .tile-text { display: table-cell; vertical-align: middle; padding: 0; }
		.tiles-list .tile-wrap:first-child .btn-simple { display: inline-block; }
		.tiles-list .tile-wrap:first-child .tile-time { display: block; }
		.tiles-list .tile-wrap:first-child .tile-date { margin: 0 0 6px 0; }
		.tiles-list .tile-wrap:nth-child(n) .h3 { font-size: 16px; line-height: 20px; max-height: 40px; color: #000; }
	}

	@media screen and (max-width: 480px){
		.tiles-list .tile { padding: 12px; }
		.tiles-list .tile-wrap:nth-child(n) .image-wrap { display: none; }
	}

	.blog-list .tile-wrap:first-child .tile-text { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
	.blog-list .tile-wrap:first-child .tile-date { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin: 6px 0 0 24px; }
	.blog-list .tile-wrap:first-child .h3 { width: 100%; }
	.blog-list .tile-wrap:first-child .tile-descr { width: 100%; }

	@media screen and (max-width: 800px){
		.blog-list .tile-wrap:first-child .tile-text { display: block; }
		.blog-list .tile-wrap:first-child .tile-date  { margin: 0 0 3px; }
	}


	@media screen and (max-width: 480px){
		.tiles-list .tile-wrap:nth-child(n) .bigPicture { display: none; }
	}
