.banner-animated .image {
	opacity: 0;
	transform: translate3d(30px,0,0);
	transition: all 0.6s 0.4s ease-in-out;
}

.banner-animated.banner-image-load .image {
	opacity: 1; transform: translate3d(0,0,0);
}

.blog-banner{
	margin-bottom: 30px;
}

.blog-banner .banner-elem{
	height: 460px;
}

.blog-banner .fullscreen-banner .tb .text-wrap{
	padding-left: 0;
}

.blog-banner .banner-elem .image img{
	max-height: 460px;
	margin: 0 auto;
}

.blog-banner .banner-elem h1{
	font-size: 30px;
	margin-bottom: 15px;
	line-height: 36px;
	max-height: 108px;
}

.blog-banner .banner-elem .descr{
	max-height: 92px;
	font-size: 14px;
	line-height: 24px;
}

.blog-banner.banner-no-bg .banner-elem{
	height: 380px;
}

.blog-banner.banner-no-bg .banner-elem .image{
	vertical-align: middle;
}

.blog-banner.banner-no-bg .banner-elem .image img{
	max-height: 380px;
}

.blog-banner.banner-no-bg .banner-elem .date{
	color: #888888;
}

.blog-banner.banner-no-bg .banner-elem h1{
	font-family: "roboto_ltregular";
	font-size: 24px;
	margin-bottom: 12px;
	line-height: 29px;
	max-height: 57px;
}

.blog-banner.banner-no-bg .banner-elem .image{
	width: 50%;
}

.blog-banner.banner-no-image .banner-elem .text-wrap{
	padding: 0;
}

.blog-banner.banner-no-image .banner-elem{
	height: auto;
}

.blog-banner.banner-no-image .banner-elem .date{
	color: #888888;
}

.blog-banner.banner-no-image .banner-elem h1{
	font-family: "roboto_ltregular";
	font-size: 24px;
	margin-bottom: 12px;
	line-height: 29px;
	max-height: 87px;
}

.blog-banner.banner-no-image .banner-elem .social{
	height: auto;
}

.h2.blog-title-product{
	margin-bottom: 12px;
}

@media screen and (max-width: 1800px){

	.blog-banner.banner-no-bg .banner-elem{
		height: 320px;
	}

	.blog-banner.banner-no-bg .banner-elem .image img{
		max-height: 320px;
	}

	.blog-banner.banner-no-bg .banner-elem .text-wrap{
		padding-left: 48px;
	}

}

@media screen and (max-width: 1600px){

	.blog-banner .banner-elem .text-wrap{
		padding-left: 48px;
	}

	.blog-banner .banner-elem{
		height: 420px;
	}

	.blog-banner .banner-elem .image img{
		max-height: 420px;
	}

	.blog-banner.banner-no-bg .banner-elem .text-wrap{
		padding-left: 30px;
	}

	.blog-banner.banner-no-bg .banner-elem{
		height: 300px;
	}

	.blog-banner.banner-no-bg .banner-elem .image img{
		max-height: 300px;
	}

	.blog-banner.banner-no-bg .banner-elem .social{
		height: 36px;
	}

}

@media screen and (max-width: 1400px){

	.blog-banner .banner-elem .text-wrap{
		padding-left: 30px;
	}

	.blog-banner .banner-elem{
		height: 340px;
	}

	.blog-banner .banner-elem .image img{
		max-height: 340px;
	}

	.blog-banner .banner-elem .descr{
		line-height: 20px;
		max-height: 80px;
	}

	.blog-banner.banner-no-bg .banner-elem .text-wrap{
		padding-left: 18px;
	}

	.blog-banner.banner-no-bg .banner-elem h1{
		font-size: 20px;
		margin-bottom: 10px;
		line-height: 24px;
		max-height: 72px;
	}

	.blog-banner.banner-no-bg .banner-elem{
		height: 280px;
	}

	.blog-banner.banner-no-bg .banner-elem .image img{
		max-height: 280px;
	}

	.blog-banner.banner-no-image .banner-elem h1{
		font-size: 20px;
		margin-bottom: 10px;
		line-height: 24px;
		max-height: 72px;
	}

}

@media screen and (max-width: 1200px){

	.blog-banner .banner-elem h1{
		font-size: 24px;
		margin-bottom: 12px;
		line-height: 29px;
		max-height: 87px;
	}

	.blog-banner .banner-elem{
		height: 300px;
	}

	.blog-banner .banner-elem .image img{
		max-height: 300px;
	}

}

@media screen and (max-width: 1024px){

	.blog-banner .banner-elem h1{
		font-size: 20px;
		margin-bottom: 10px;
		line-height: 24px;
		max-height: 72px;
	}

	.blog-banner .banner-elem .text-wrap{
		padding-left: 18px;
	}

	.blog-banner .banner-elem{
		height: 260px;
	}

	.blog-banner .banner-elem .image img{
		max-height: 260px;
	}

}

@media screen and (max-width: 800px){

	.blog-banner{
		margin-bottom: 18px;
	}

	.blog-banner .banner-elem h1{
		font-size: 18px;
		margin-bottom: 8px;
		line-height: 22px;
		max-height: 66px;
	}

	.blog-banner .banner-elem .text-wrap{
		padding-left: 12px;
	}

	.blog-banner .banner-elem{
		height: 250px;
	}

	.blog-banner .banner-elem .image img{
		max-height: 250px;
		margin: 0 0 0 auto;
	}

	.blog-banner.banner-no-bg .banner-elem h1{
		font-size: 18px;
		margin-bottom: 8px;
		line-height: 22px;
		max-height: 66px;
	}

	.blog-banner.banner-no-bg .banner-elem .text-wrap{
		padding-left: 12px;
	}

	.blog-banner.banner-no-bg .banner-elem{
		height: 250px;
	}

	.blog-banner.banner-no-bg .banner-elem .image img{
		max-height: 250px;
	}

	.blog-banner.banner-no-image .banner-elem h1{
		font-size: 18px;
		margin-bottom: 8px;
		line-height: 22px;
		max-height: 66px;
	}

}

@media screen and (max-width: 700px){

	.blog-banner.banner-bg .banner-elem{
		display: block;
	}

	.blog-banner.banner-bg .banner-elem .text-wrap{
		display: block;
		padding: 12px 12px 0;
	}

	.blog-banner.banner-bg .banner-elem.fullscreen-banner .text-wrap{
		padding: 12px 0 0;
	}

	.blog-banner.banner-bg .banner-elem .image{
		display: block;
		width: 100%;
		padding: 0;
	}

	.blog-banner.banner-bg .banner-elem .image img{
		margin: 0 auto;
	}

	.blog-banner.banner-bg .banner-elem{
		height: auto;
	}

	.blog-banner.banner-no-bg .banner-elem{
		display: block;
	}

	.blog-banner.banner-no-bg .banner-elem .text-wrap{
		display: block;
		padding: 12px 12px 0;
	}

	.blog-banner.banner-no-bg .banner-elem .image{
		display: block;
		width: 100%;
		padding: 0 12px;
	}

	.blog-banner.banner-no-bg .banner-elem .image img{
		margin: 0 auto;
		max-height: none;
		width: 100%;
	}

	.blog-banner.banner-no-bg .banner-elem{
		height: auto;
	}

}

@media screen and (max-width: 500px){

	.blog-banner .banner-elem h1{
		margin-bottom: 12px;
		font-size: 16px;
		margin-bottom: 8px;
		line-height: 20px;
		max-height: 60px;
	}

	.blog-banner .banner-elem .image img{
		max-height: 200px;
	}

	.blog-banner.banner-no-bg .banner-elem h1{
		font-size: 16px;
		margin-bottom: 8px;
		line-height: 20px;
		max-height: 60px;
	}

	.blog-banner.banner-no-image .banner-elem h1{
		font-size: 16px;
		margin-bottom: 8px;
		line-height: 20px;
		max-height: 60px;
	}

	.blog-banner.banner-no-image .banner-elem .descr{
		display: block;
	}

}

@media screen and (max-width: 350px){

	.blog-banner .banner-elem{
		height: auto;
		border: none;
	}

	.blog-banner .banner-elem .text-wrap{
		padding: 0;
	}

	.blog-banner .banner-elem .descr{
		display: block;
	}

	.blog-banner .banner-elem .image{
		display: none;
	}

	.blog-banner.banner-no-bg .banner-elem{
		height: auto;
	}

	.blog-banner.banner-no-bg .banner-elem .image{
		padding: 0;
	}

	.blog-banner.banner-no-bg .banner-elem .text-wrap{
		padding: 0;
	}

}

.other-news{
	border: 1px solid #e7e8ea;
}

.other-news-title.h3{
	text-align: center;
	height: 60px;
	line-height: 60px;
	padding: 0 12px;
	border-bottom: 1px solid #e7e8ea;
	background: #f9f9f9;
}

.other-news .news{
	padding: 24px;
	border-bottom: 1px solid #e7e8ea;
}

.other-news .news:first-child{
	padding-top: 12px;
}

.other-news .news:last-child{
	border-bottom: none;
}

.other-news .image{
	padding: 0 0 16px;
	text-align: center;
}

.other-news .image a{
	display: inline-block;
}

.other-news .image img{
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	max-height: 150px;
	width: auto;
	height: auto;
	transition: all 0.2s ease-in-out;
}

.other-news .image a:hover img{
	opacity: 0.9;
}

.other-news .image a:active img{
	position: relative;
	top: 1px;
}

.other-news .name{
	display: inline-block;
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 18px;
	max-height: 54px;
	overflow: hidden;
	color: #000000;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.other-news .announcement{
	margin-bottom: 6px;
	font-size: 13px;
	line-height: 16px;
	max-height: 48px;
	overflow: hidden;
	color: #888888;
}








.stockProduct{
	margin-bottom: 30px;
	position: relative;
}

.stockProduct ul{
	padding-left: 0 !important;
}

.stockProduct .wrap{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 24px;
}

.stockProduct .productList{
	position: relative;
	list-style: none;
	overflow: hidden;
	clear: both;
	margin: 0px;
	left: 0px;
	display: flex;
	flex-wrap: wrap;
}

.stockProduct .productList > li{
width: 25%;
}

.stockProduct .productList .item{
	width: 100%;
	float: none;
	border-top: 1px solid #e7e8ea;
}

.stockProduct .product .tabloid{
	height: 100%;
}

.stockProduct .viewedBtnLeft,
.stockProduct .viewedBtnRight{
	background: url(/local/templates/stomart/components/dresscode/catalog.viewed.product/.default/images/slideArrowSmall.png) 0 0 no-repeat transparent;
	transform: translateY(-50%);
	position: absolute;
	height: 70px;
	width: 35px;
	z-index: 22;
	top: 50%;
}

.stockProduct .viewedBtnLeft{
	left: 24px;
}

.stockProduct .viewedBtnRight{
	right: 24px;
}

.stockProduct .viewedBtnLeft:hover{
	background-position: -35px 0;
}

.stockProduct .viewedBtnLeft:active{
	background-position: -70px 0;
}

.stockProduct .viewedBtnRight{
	background-position: 0 -70px;
}

.stockProduct .viewedBtnRight:hover{
	background-position: -35px -70px;
}

.stockProduct .viewedBtnRight:active{
	background-position: -70px -70px;
}


/*
просмотренные товары
*/

.stockProduct .slideBox.productList .product {
	height: 410px;
}

.stockProduct .slideBox.productList .product .addCart {
	line-height: 35px;
	height: 35px;
	max-width: 173px;
	margin: 0 auto;
	border-radius: 0;
}


.stockProduct .slideBox.productList .product .addCartContainer:hover span{
	transform: translate(-50%, -50%);

	left: 50%;
	top: 50%;
}

.stockProduct .slideBox.productList .product .quantityContainer{
	display:none;
}

.stockProduct .slideBox.productList .product .addCart.requestPrice {
	margin-top:0;
}

@media (max-width: 1800px){
	.stockProduct .slideBox.productList .product {
		height: 388px;
	}
}

@media (max-width: 1024px){
	.stockProduct .slideBox.productList .product {
		height: 355px;
	}
}

@media (max-width: 700px){
	.stockProduct .slideBox.productList .product {
		height: 100%;
	}
}
/* End */

.stockProduct .productList .item {

	border-right: 2px solid #e7e8ea;
}

.addCartContainer-mobile {
	text-align: center;
	margin-top: 20px;

}

@media (max-width: 700px){
	.addCart-visible-mobile {
		display: inline-block!important;
		line-height: 30px !important;
		height: 30px !important;
		font-size: 14px;
		width: 130px;
	}
	.stockProduct .viewedBtnLeft, .stockProduct .viewedBtnRight {
		background: url(/local/templates/stomart/images/slideArrowSmall1.png) 0 0 no-repeat transparent;
		transform: translateY(-50%);
		position: absolute;
		height: 35px;
		width: 17px;
		z-index: 22;
		top: 50%;
	}
	.stockProduct .viewedBtnRight {
		background-position: 0 -35px;
	}
	.stockProduct .viewedBtnRight:hover {
		background-position: -18px -35px;
	}
	.stockProduct .viewedBtnLeft:hover {
		background-position: -18px 0;
	}
	.productTable {
		display: flex!important;
		flex-direction: column!important;

	}
	.stockProduct .productList > li{
		width: 50%;
	}
	.productColImage {
		width: 100%!important;
		max-width: 260px!important;
	}
	.product .picture {
		height: 180px!important;
		line-height: 180px!important;
	}
	.productColText {
		margin-top: 20px;
	}
	.product .picture img {

		 max-height: 100%!important;
		 max-width: 100%!important;
	}
	.product .addCartContainer, .product .addCart {
		display: block!important;
	}
	.product .addCartContainer {
		margin-top: 5px;
		margin-bottom: 0;
	}

}

@media (max-width: 600px){
	.stockProduct .productList > li{
		width: 100%;
	}
}
/*
@media (min-width: 700px){
	.addCartContainer-mobile {
		display: none!important;

	}
}*/
/*карточка деталька*/

