.brandsHeading {
  border-top: 1px solid #e7e8ea;
  padding-top: 24px;
}

.brandsDescription {
  margin-bottom: 4px;
  color: #888888;
  font-size: 12px;
  overflow: hidden;
  position: relative;
}
.brandsDescription.wcmin:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 110px, white);
}

.brandsBigPicture {
  margin-top: 24px;
  margin-bottom: 24px;
  float: left;
  margin-right: 24px;
}

.backToList {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 24px;
  margin-top: 12px;
  display: block;
  color: #000000;
}
.wcBackToList {
  margin-bottom: 24px;
  margin-top: 12px;
}

@media (max-width: 480px) {
  .wcBackToList {
    min-width: 114px;
    padding: 6px 8px 4px;
  }
}

.backToList:active {
  position: relative;
  top: 1px;
}
.backToList:hover {
  color: #000000;
}
#left .heading .arrow {
  background-position: -27px 50%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#left .heading.opened .arrow {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#nextSection {
  border-right: 1px solid #e7e8ea;
  border-left: 1px solid #e7e8ea;
  border-top: 1px solid #e7e8ea;
  margin-bottom: 24px;
  border-radius: 4px;
  margin-top: 24px;
}

#nextSection .title {
  background-color: #f3f3f3;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  cursor: pointer;
  font-size: 14px;
  display: block;
}

#nextSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#nextSection li,
#nextSection .title {
  border-bottom: 1px solid #e7e8ea;
}

/*#nextSection li{
	padding: 12px 24px;
}*/

#nextSection li a {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  font-size: 13px;
  color: #000000;
}

#nextSection li a:hover,
#nextSection li .selected {
  color: #ffa800;
}

#nextSection li .cnt {
  color: #888888;
  float: right;
}

@media all and (max-width: 700px) {
  .backToList {
    float: none;
    margin: 18px 0;
  }
}

.wc-show-more-text-wrapper {
  display: none;
}

.wc-show-more-text-wrapper.act {
  display: flex;
  margin-bottom: 24px;
}

.wc-show-more-text {
  color: #000;
}

.similar_for_brand > .item {
  max-width: 1480px;
  min-width: 320px;
  margin: auto;

  text-align: center;
  margin-bottom: 25px;
}

.similar_for_brand > .item .selected {
  border-bottom: 1px dashed #000000;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-family: "robotobold";
  text-decoration: none;
  padding-bottom: 8px;
  font-size: 16px;
  color: #000000;
}

#smartFilter .disabled {
  opacity: 0.4;
}
