.sale-acountpay-block { margin-bottom: 12px; }

.sale-acountpay-title { font-size: 14px; }

.sale-acountpay-fixedpay-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	background: #eeeeee;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	color: #000;
	font-size: 13px;
	min-width: 55px;
	border-radius: 2px;
	margin-bottom: 5px;
	padding: 0 9px;
	-webkit-transition: background 300ms ease;
	   -moz-transition: background 300ms ease;
		-ms-transition: background 300ms ease;
		 -o-transition: background 300ms ease;
			transition: background 300ms ease;
}

.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item:hover {
	background: #dddddd;
}

.bx-sap .control-label.input-lg {
	font-weight: normal;
	font-size: 14px;
	line-height: 29px;
	vertical-align: middle;
}

/*pay*/
.sale-acountpay-pp-company {
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	margin-right: 12px;
	width: 150px;
	z-index: 2;
}

.sale-acountpay-pp-company:hover{
	opacity: 0.8;
}

.sale-acountpay-pp-company:active{
	top: 1px;
}

.sale-acountpay-pp .sale-acountpay-pp-company {
	border: 1px solid transparent;
	-webkit-transition: all 100ms ease;
	   -moz-transition: all 100ms ease;
		-ms-transition: all 100ms ease;
		 -o-transition: all 100ms ease;
			transition: all 100ms ease;
}

.sale-acountpay-pp-company-graf-container {
	border: 1px solid #cccccc;
	border-radius: 2px;
	position: relative;
	background: #fff;
	width: auto;
	height: 0;
	padding-top: 50%;
}

input[type=checkbox].sale-acountpay-pp-company-checkbox {
	position: absolute;
	top: 7px;
	left: 7px;
	margin: 0;
	padding: 0;
	z-index: 100;
}

.sale-acountpay-pp-company-image {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.sale-acountpay-pp-company-smalltitle {
	padding-top: 9px;
	color: #a3a3a3;
	font-size: 11px;
	text-align: center;
	padding-bottom: 5px;
}

.sale-acountpay-pp-company-title {
	font-size: 19px;
	font-weight: bold;
}

.sale-acountpay-pp-company-selected { padding: 4px 0; }

ul.sale-acountpay-pp-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
	font-size: 13px;
	color: #000;
}

ul.sale-acountpay-pp-list li {
	clear: both;
	padding: 5px 0;
}

.sale-acountpay-pp-list-termin {
	color: #8d8d8d;
	display: block;
}

.sale-acountpay-pp-list-description { display: block; }

.sale-acountpay-pp-delivery-cost {
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	padding: 2px 4px;
	right: -2px;
	bottom: -2px;
	border-radius: 1px;
	background: rgba(0,0,0,.5);
}

.sale-acountpay-pp-field .form-control { background: #fff; }

.sale-acountpay-pp-price {
	text-align: right;
	padding: 4px 0;
}

.sale-acountpay-service-small {
	color: #a3a3a3;
	font-size: 11px;
}

#loading_screen {
	position: fixed;
	z-index: 1150;
	left: 50%;
	top: 50%;
	margin-left: -32px;
	margin-top: -32px;
	width: 64px;
	height: 64px;
}

.sale-acountpay-input {
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f3f3f3;
	border: 1px solid #cccccc;
	display: inline-block;
	text-align: left;
	max-width: 250px;
	padding: 0 8px;
	height: 35px;
}

.sale-acountpay-input:focus{
	background-color: #fbfbfb;
}

.form-group .col-sm-9{
	vertical-align: middle;
	display: inline-block;
}

.bx-sap .control-label.input-lg{
	vertical-align: middle;
	display: inline-block;
	margin-left: 6px;
}

.btn.sale-account-pay-button {
	padding: 0 32px;
	height: 42px;
	border: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #17a594;
	font: 14px "roboto_ltregular" , arial , sans-serif;
	text-decoration: none;
	display: inline-block;
	line-height: 42px;
	position: relative;
	margin-top: 0px;
	color: #fff;
}

.btn.sale-account-pay-button:hover {
	opacity: 0.8;
	color: #fff;
	-webkit-transition: background ease-out 0.5s;
	-moz-transition: background ease-out 0.5s;
	transition: background ease-out 0.5s;
}

.bx-sap input[name="BuyButton"]{
	display: inline-block;
	padding: 10px 24px;
	margin-right: 6px;
	cursor: pointer;
	margin-top: 12px;
	color: #ffffff;
	border: 0px;
}

.bx-sap a{
	font: 14px "robotobold" , arial , sans-serif;
	margin-top: 12px;
	display: block;
	color: #000000;
}

.bx-sap a:hover{
	opacity: 0.7;
}

.bx-sap a:active{
	position: relative;
	top: 1px;
}

@media (max-width: 800px) {
	.sale-acountpay-pp-company {
		width: 110px;
	}
	.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item {
	    min-width: 40px;
	}
}