.cart .countLink{
	background: url(/local/templates/stomart/images/cart.svg) 50% 50% no-repeat transparent;
	display: inline-block;
	position: relative;
	font-size: 14px;
	float: left;
	height: 40px;
	width: 60px;
	background-size: 23px;
}

#subHeader4.color_black .cart .countLink,
#subHeader4.color_theme .cart .countLink,
#subHeader5.color_black .cart .countLink,
#subHeader5.color_theme .cart .countLink,
#subHeader6.color_black .cart .countLink,
#subHeader6.color_theme .cart .countLink,
#subHeader7.color_black .cart .countLink,
#subHeader7.color_theme .cart .countLink,
#subHeader8.color_black .cart .countLink,
#subHeader8.color_theme .cart .countLink,
#subHeader9.color_black .cart .countLink,
#subHeader9.color_theme .cart .countLink{
	background: url(images/cartH4w.png) 50% 50% no-repeat transparent;
}

.cart .countLink.active:hover{
	opacity: 0.7;
}

.cart .countLink.active:active{
	top: 1px;
}

.cart .heading{
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	max-width: 172px;
	margin-left: 6px;
	margin-top: 8px;
	color: #000000;
}

#subHeader5.color_black .cart .heading,
#subHeader5.color_theme .cart .heading,
#subHeader6.color_black .cart .heading,
#subHeader6.color_theme .cart .heading,
#subHeader7.color_black .cart .heading,
#subHeader7.color_theme .cart .heading,
#subHeader8.color_black .cart .heading,
#subHeader8.color_theme .cart .heading,
#subHeader9.color_black .cart .heading,
#subHeader9.color_theme .cart .heading{
	color: #ffffff;
}

.cart .heading.active:active{
	position: relative;
	top: 1px;
}

.cart .heading .cartLabel{
	font-family: "robotomedium";
	margin-right: 3px;
}

.cart .heading .cartLabel:hover{
	opacity: 0.7;
}

.cart .count{
	border: 2px solid #d1d1d1;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	overflow: hidden;
	font-size: 12px;
	color: #d1d1d1;
	height: 20px;
	width: 20px;
	right: 8px;
	top: 0;
}

#subHeader5.color_black .cart .count,
#subHeader6.color_black .cart .count,
#subHeader7.color_black .cart .count,
#subHeader8.color_black .cart .count,
#subHeader9.color_black .cart .count{
	background-color: #2b2b2b;
}

#flushTopCart{
	position: relative;
}
#popupCartContainerId{
	min-width: 500px;
	padding: 20px;
	background-color: white;
	box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);
	display: none;
	width:400px;
	position: absolute;
	right: 0;
	top:50px;
	z-index: 900;

}
#popupCartContainerId.opened{
	display: block;

}
.popupCartFooter{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popupCartFooterSum{
	font-weight: bold;
}

.popupCartItem{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	padding-top: 15px;

}

.popupCartItemHeader {
	color: #000;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
text-align: center;
	border-bottom: 1px solid #eeeeee;
}

.popupCartItemAnchor{
	display: block;
	border-bottom: 1px solid #eeeeee;
}
.popupCartItemAnchor:last-child {
	border-bottom: none;
	margin-bottom: 20px;
}

.popupCartItem__img{
	width: 10%;
}

.popupCartItem__name{
	width: 50%;
	padding-left: 30px;
	padding-right: 10px;
	text-align: left;
}

.popupCartItem__price {
	white-space: nowrap;
	width: 20%;
}

.popupCartItem__count{
	width: 20%;
}

.popupCartItemAnchor{
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

.popupCartItem .plus, .popupCartItem .minus {
	background: url(images/plusMinus.png) 0 0 no-repeat #17a594;
	vertical-align: middle;
	display: inline-block;
	height: 19px;
	width: 19px;
}

.popupCartItem .plus {
	background-position: 0 -19px;
}
.popupCartItem .quantity {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	background-color: #e7e8ea;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color: #000000;
	height: 19px;
	width: 30px;
	padding: 0 2px;
	border: 0;
}
