#brands{
	margin-top: 24px;
}

#brandList{
	margin-top: 24px;
}

#brandList .heading{
	background-color: #424242;
	margin-bottom: 0px !important;
    padding-left: 18px;
	line-height: 50px;
    font-size: 17px;
    display: block;
    color: #ffffff;
    height: 50px;
}

#brandList .items{
	list-style: none;
	border-left: 1px solid #e7e8ea;
}

#brandList .item{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	background-color: #ffffff;
	border-right: 1px solid #e7e8ea;
	border-bottom: 1px solid #e7e8ea;
	height: 120px;
	line-height: 120px;
	float: left;
	width: 20%;
}

#brandList .item:before {
	content: "";
	position: absolute;
	left: 0px;
	width: 100%;
	top: -1px;
	height: 1px;
	background: #e7e8ea;
}

#brandList .tabloid{
	position: relative;
	padding: 12px;
}

#brandList .markerContainer{
	position: absolute;
	top: 8px;
	left: 8px;
}

#brandList .marker {
	font: normal normal 12px "roboto_ltregular" , arial , sans-serif;
	background-color: #424242;
	margin-bottom: 8px;
	color: #fff;
	padding: 3px 4px;
	line-height: 16px;
	z-index: 2;
}

#brandList .picture{
	-webkit-transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	transition: 0.2s all ease-in-out;
	opacity: 0.8;
	text-align: center;
	line-height: 100px;
	display: block;
	height: 100px;
}

#brandList .picture:hover{
	opacity: 1;
}

#brandList .picture img{
	vertical-align: middle;
	max-height: 90%;
	max-width: 90%;
}

#brandList .name{
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	display: block;
	color: #000000;
	margin: 12px 0;
}

#brandList .last{
	background: #f3f3f3;
}



.brands_list_char{
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	margin-left: -14px;
}
.brands_list_char a {
	display: inline-block;
	margin: 0 5px 5px;
	padding-bottom:5px ;
	font-size: 18px;
	text-decoration: none;
	color: #000;
	height: 30px ;
	width: 30px ;
	text-align: center;
	font-weight: 600;
	line-height: 40px;
	border-bottom: 2px solid transparent;
	/*  background-color: #17a594;*/
}
.brands_list_char a.active {
	border-bottom: 2px solid #17a594;
}
#brandList .row_item{

	width: 20%;
	margin-bottom: 30px;
}
#brandList .items {

	border-left: none;
	display: flex;
	flex-wrap: wrap;
}
#brandList .item {
	line-height: normal!important;
	height: auto!important;
	float: none;
	border-right: none;
	border-bottom: none;
	width: auto;
}
#brandList .tabloid {

	padding: 12px 12px 0 0;
}
#brandList .item:before {
	content: none;
}
#brandList .letter{
	font-size: 25px;
	color: #17a594;
	margin-bottom: 5px;
	font-weight: 600;
}
#brandList .brandName {


	text-decoration: none;
	color: #000;
}
#brandList .brandName p:hover {
	opacity: 0.6;

}
#brandList .brandName p {
	margin: 0;

}
@media (min-width: 1024px){
	#brandList {

		width: 80%;
	}
}
@media (max-width: 1024px){
	#brandList .row_item {

		width: 30%;
	}
}
@media (max-width: 700px){
	#brandList .row_item {

		width: 50%;
	}
}
@media (max-width: 500px){
	#brandList .row_item {

		width: 100%;
	}
}