#elementContainer #detailText .heading {
    display: none!important;
    padding: 15px 0 10px 18px!important;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #elementContainer #detailText .heading {
        display: block!important;
    }
}


.fast-deliveries-container {
    display: none !important;
}

.stockProduct {
    display: none!Important;
}

#catalogReviews .heading .reviewAddButton {
color: #1fa594 !important;
}


/*
#menuCatalogSection .drop ul {
    padding: 20px 0;
}

#menuCatalogSection .drop ul li {
    line-height: 50px;
height: 50px;
}
*/

.mb-1 {
    margin-bottom: 1rem;
}

.d-block{
    display: block;
}
.changeDescription table {border-collapse: collapse; border-spacing: 0; }
.changeDescription table td {padding:10px;border:1px solid #b4b4b4;}
.changeDescription table th {font-weight:bold;}
.changeDescription h2,.changeDescription h3 {font-family:'robotobold';}
.changeDescription h2 {margin-bottom:20px !important;}
.changeDescription table {margin-bottom:20px;}

#subHeader9 #mainMenuContainer {
	z-index: 1000;
}

.no-bold{
 font-weight: normal !important;
}
#logo img {
    max-width: 85% !important;
}

.popupCartItem__name {
    color: #000!important;
}

.popupCartItem__price {
    color: #000!important;
}

.popupCartFooterSum {
    color: #000!important;
}

#footerLine .item .wishlist .icon {
	background: url(/bitrix/components/dresscode/favorite.line/templates/version4/images/wishlistH4.png) 0 0 no-repeat;
    filter: contrast(0.2);
    background-size: contain;
    background-position: center;
}
#footerLine .item .cart .icon {
    background: url(https://stomart.ru/local/templates/stomart/components/bitrix/sale.basket.basket.line/topCart5/images/cartH4.png) 0 0 no-repeat;
    filter: contrast(0.2);
    background-size: contain;
    background-position: center;
}

#footerLine .item .cart.active .icon,
#footerLine .item .wishlist.active .icon {
    background-position: 0px 0;
}
@media (max-width: 1024px){
    .heading-2{
        margin-top:12px !important;
    }
}


.heading-2{
margin-top:41px;
}
.arrow-left-3,
.arrow-right-3,
.arrow-top-3,
.arrow-bottom-3 {
    width: 10px;
    height: 10px;
    cursor: pointer;

    position: absolute;
    right: -8px;
    top: 33%;

}

.arrow-left-3 path,
.arrow-right-3 path,
.arrow-top-3 path,
.arrow-bottom-3 path {
    fill: #e4e7eb;
    transition: fill 0.5s ease-out;
}

.arrow-left-3 {
    transform: rotate(180deg);
}

.arrow-top-3 {
    transform: rotate(270deg);
}

.arrow-bottom-3 {
    transform: rotate(90deg);
}

.sectionColumn.open .arrow-right-3 path {
    fill: #000;
}
.cart-order span {
	font-size: 14px;
}

.confirmation *{
    font-size: 14px;
}
.confirmation h2{
    font-size: 16px;
}

#menuCatalogSection .drop ul.menuSectionList {
    padding-bottom: 100px !important;
}


#menuCatalogSection .drop {
    box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    position: absolute;
    padding: 24px 0px;
    display: none;
    z-index: 96;
    width: 100%;

    left: 0;
}

#menuCatalogSection .drop ul {
    margin: 0;
    position: relative;
    overflow: visible;

}

#menuCatalogSection .drop ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    text-align: left;
    margin-top: 0;
    padding: 7px 7px 0;
    height: auto;
    float: none;
    width: auto;
    white-space: nowrap;
}

#menuCatalogSection .drop ul li a {
    text-transform: none;
    font-family: 'roboto_ltregular';

    display: block;
    color: #000000;
}

#menuCatalogSection .drop ul li .container {
    position: relative;

    width: 240px !important;
}

#menuCatalogSection .drop ul .sectionColumn {
    width: 226px !important;

}

#menuCatalogSection .sectionColumn .drop-inner {
    min-width: 200px;
    width: 1237px;
    margin-left: 250px;
    display: none;
    position: absolute;
    background: white;
    z-index: 200;
    top: 0;
    padding: 0 16px;
    /* box-shadow: 1px 1px 12px rgb(0 0 0 / 20%); */

}

.topCompare .icon {
    background-image: url(/local/templates/stomart/images/scales.svg);
    background-size: 23px;
    filter: brightness(0);
}

#elementContainer .wishCompWrap .elem.addCompare:before,
#elementContainer .wishCompWrap .elem.addCompare:after {
    background: url(/local/templates/stomart/images/scales.svg) 0 0 no-repeat;
    /*filter: brightness(0);*/
    /*background-size: 47px;*/
}
#elementContainer .wishCompWrap .elem.addCompare.added:after {
    background: url(/local/templates/stomart/images/scalesW.svg) 0 0 no-repeat;
}

@media screen and (max-width: 1570px) {

    #menuCatalogSection .sectionColumn .drop-inner {
        width: -webkit-calc(100vw - 336px);

    }

    
}

#menuCatalogSection .sectionColumn.open .drop-inner {
    display: block;
    padding-bottom: 10px;

}

.drop-inner .limiter {
    max-height: 540px;
    overflow-y: auto !important;
}

.main-description {
	display: flex;
	max-width: 1480px;
	min-width: 320px;
	margin: 0 auto;
	flex-flow: row wrap;
	justify-content: space-between;
	height: 10%;
	overflow: hidden;
}
.main-description h1 {
	margin-bottom: 20px;
	width: 100%;
	letter-spacing: 1px;
	text-align: center;
}
.main-description span {
	width: 48%;
	line-height: 26px;
	font-size: 14px;
}
.show-hide {
	border: inherit;
	color: inherit;
	text-decoration: underline;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
.drop-inner .limiter > .nextColumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between;*/
    /*  flex-wrap: wrap;*/
    align-content: flex-start;
    align-items: flex-start;
    /*   max-height: 400px;*/
    width:25%;

}
.drop-inner .limiter > .nextColumn .menu2LinkHeader{
    padding: 7px 0 0;
    font-weight: bold;
}
#menuCatalogSection .drop ul li .picture {
    margin-right:10px;
    margin-bottom:0;
    line-height: 24px;
    height: 24px;
    width: 24px;


}
#menuCatalogSection .menuSection img + img {
    display: none;
}
#menuCatalogSection .catalogButton {
    padding: 0 39px;
}
#menuCatalogSection .drop ul li .picture img{
    width:100%;
}

.flex-container{
    display: flex!important;
    align-items: center;
}
#menuCatalogSection .drop ul li:first-child {
    margin-top: 10px;
}

#menuCatalogSection .drop ul li:last-child {
    margin-bottom: 10px;
}

#menuCatalogSection .drop ul.nextColumn li:first-child {
    margin-top: 0;
}



.drop-inner .limiter > .nextColumn > li {
    padding-right: 6px !important;
    padding-left: 6px !important;
}

.drop-inner .limiter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.drop-inner .limiter .nextColumn .allow-dropdown {
    margin: 0 !important;
    padding-left: 0!important;

}

.drop-inner .limiter .nextColumn .allow-dropdown .x3-section .x3-item {
    padding: 0 0 3px 7px !important;
    font-weight:normal;
}

.drop-inner .limiter .nextColumn .allow-dropdown .x3-section a {
    font-size: 12px !important;

}

.allow-dropdown .menu2LinkHeader{
    padding: 7px 6px 7px !important;
}

.drop-inner  .allow-dropdown > a.menu2Link {
    padding-left: 7px !important;
}

.drop-more {
    display: inline !important;
    margin: 0 0 3px 7px;
    border-bottom: 1px dotted #1a1a1a;
    font-size: 12px;
}

.drop-more span {
    font-weight: bold;

}

.drop-inner .limiter > .nextColumn li {
    font-weight: bold;
    min-width: 20%;
    padding-right: 20px;

    max-width: 496px;

}

.drop-inner .limiter > .nextColumn li.allow-dropdown ul li {
    font-weight: normal;
}

@media (min-width: 700px) {
    #menuCatalogSection .btn-simple.btn-micro {
        display: none;
    }
}

#catalogSection .sectionItems .item .itemContainer .bigPicture img {
    max-height: 150px;
}

#catalogSection .sectionItems .item .itemContainer .bigPicture {
    width: 250px;
}

#headerLine5 #topTelephone .heading a,
#subHeader9 .subContainerColumn .heading a,
#rightFooter .telephone a {
    text-decoration: none;
    color: inherit;
}

.mobileCompare {
    display: none;
}

@media (max-width: 700px) {
    #catalogElement #elementContainer .addCompare {
        display: block;
    }

    #mainMenuContainer .minCatalogButton {
        line-height: 40px;
        height: 40px;
    }

    #headerLine5 {
        line-height: 30px;
        height: 30px;
    }

    #subHeader9 {
        height: 126px;
        padding-bottom: 18px;
    }

    #subHeader9 #logo {
        line-height: 50px;
        height: 50px;
    }

    #subHeader9 .subContainerColumn:nth-child(2) {
        top: 60px;
    }

    #subHeader9 #mainMenuContainer {
        top: 113px;
    }

    #foundation #flushFooterCart .item:nth-child(1) {
        display: inline-block;
    }

    #foundation #flushFooterCart .item .textLabel {
        display: none;
    }

    #foundation #flushFooterCart .item:nth-child(2) {
        /* display: none; */
    }

    .product:hover .tabloid {
        position: relative !important;
    }

    .mobileCompare {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 100;
        border: 1px solid #eee;
        padding: 3px;
        color: transparent;
        width: 25px;
        height: 25px;
        background: #fff;
    }
    .mobileCompare.addWishlist  {
        left: 0px;
        bottom: 31px;
    }


    .mobileCompare img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        filter: brightness(0);
        width: 15px;
    }

    .mobileCompare.addWishlist img  {
        left: 50%;
    }

    .mobileCompare.added {
        /*filter: invert(1);*/
    }

    .mobileCompare.added img{
        filter: invert(55%) sepia(44%) saturate(6399%) hue-rotate(143deg) brightness(97%) contrast(82%);
    }

    #compareBlock {
        margin-top: 0;
    }

    #compareBlock .left {
        width: 33vw;
        padding: 0;
    }

    #compareBlock .left .wrap {
        /* border-right: 0; */
    }

    #compareBlock .headingTools .leftTools a {
        min-width: auto;
        width: 92%;
        margin: auto;
        margin-bottom: 10px;
        height: auto;
        line-height: 1.1em;
        padding: 10px 0;
        font-size: 13px;
    }

    #compareBlock .right {
        padding: 0;
    }

    #topScroll {
        margin-bottom: 0;
        display: none;
    }

    #compareBlock .leftTools {
        margin-top: 0;
    }
    .headingTools {
        padding-top: 50px;
        box-sizing: border-box;
    }

    #compareTools a {
        margin-bottom: 10px;
    }

    #compareBlock .left .propList li {
        height: auto;
        white-space: normal;
        line-height: 1.2;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #scrollTable > ul > li {
        margin-left: 0;
        width: 32vw;
    }

    #scrollTable > ul > li:first-child {
        border-left: 0;
    }

    #scrollTable .addCart, #scrollTable .addSku {
        width: auto;
        font-size: 12px;
        line-height: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #scrollTable .addCart .icon,
    #scrollTable .requestIsAvailable .icon {
        padding-right: 6px;
    }

    #scrollTable .price {
        font-size: 15px;
    }

    #compareCheck, #compareTools {
        display: none;
    }
}

#footerBottom .creator {
    display: none;
}

#elementContainer .description {
    display: none;
}

@media (min-width: 1100px) and (max-width: 1800px) {
    #catalogElement .mainTool .addCartContainer .addCart.requestPrice {
        margin-top: 0;
    }
}

#catalogElement .advantagesDetail {
    display: none;
}

.catalogServicesList .new-list-items .image {
    display: none;
}

.sale-order-list-title-container {
    background: rgba(23, 165, 148, .5);
}

.sale-order-list-button,
.sale-order-detail-about-order-inner-container-repeat-button{

    background: #17a594;

}

@media (max-width: 800px) {
    .detail-delivery-paysystems {
        display: none;
    }

    #elementProperties .stats td {
        padding: 4px 0px;
    }
}

#headerLine5 .topSocItem a {
    background: url(/local/templates/stomart/images/socicons.png) 0 0 no-repeat transparent;
    display: block;
    height: 24px;
    width: 24px;
}

@media (min-width: 1024px) {
    #leftFooter {
        width: 75% !important;
    }

    #rightFooter {
        width: 25% !important;
    }
}

@media (max-width: 1300px) {
    #footer .rightTable .leftColumn {
        display: table-cell !important;
    }
}

#rightFooter .telephone {
    margin-bottom: 13px !important;

}

#rightFooter .email a {
    color: #17a594;
}

#rightFooter .sn {
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    float: none;
    padding-right: 0 !important;
    padding-inline-start: 0;
}

@media (max-width: 480px) {
    #rightFooter .sn {
        display: block;
    }
}

@media (min-width: 620px) and (max-width: 1520px) {

    #elementSmallNavigation.fixed {
        z-index: 111;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #elementTools.fixed .fixContainer {

        top: 50px;
    }
}

.cart .heading {
    max-width: 160px;
    white-space: nowrap;
}

.drop-inner ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.drop-inner ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
}

.drop-inner ::-webkit-scrollbar-thumb:hover {
    background: #17a594;
}

.drop-inner ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.hidden {
    display: none !important;
}

.detail-delivery-paysystems-container {
    padding: 70px 36px;
}

#empty .emptyMenu img {
  height:24px;
}
.sale-order-detail-about-order-inner-container {
    display: none;
}
/* скрытие под заказ в корзине */
#basketProductList .onOrder{
    opacity: 0;
}

#personalCart .productTable th:nth-child(4), .productTable td:nth-child(4) {
    display: none;
}

/* крошки для мобильной версии */
@media (max-width: 1024px){
    #breadcrumbs {
         height: auto;
    }
    #breadcrumbs ul {
         white-space: normal;
        overflow: visible;
    }
}

/* фильтр */
/*
@media (max-width: 1024px){

    #smartFilter.opened .delete {
        background: url(/local/templates/stomart/components/dresscode/sale.basket.basket/.default/images/delete.png) 0 0 no-repeat transparent;
        right: 11px;
        top: 14px;
        position: absolute;
        height: 18px;
        width: 18px;
    }


}
*/

/*страница сравнение*/

#compareBlock #scrollTable .name {
    line-height: 17px !important;
}

/* каталог товаров*/
@media (max-width: 700px){
    .product .addCart-visible {
        display: inline-block!important;
        line-height: 30px !important;
        height: 30px !important;
        font-size: 14px;
    }
    .productColText .btn-simple.add-cart{
        display: none;
    }
}

@media (min-width: 700px){
    .product .addCart-visible {
        display: none!important;

    }
}
/*карточка деталька*/


    #catalogElement .product:nth-child(5n+5){
        border-right-width: 1px !important;
    }
#catalogElement .product:nth-child(4n+4) {
    border-right-width: 1px !important;
}

/*
просмотренные товары
*/

#viewedProduct .slideBox.productList .product {
    height: 410px;
}

#viewedProduct .slideBox.productList .product .addCart {
    line-height: 35px;
    height: 35px;
    max-width: 173px;
    margin: 0 auto;
    border-radius: 0;
}


#viewedProduct .slideBox.productList .product .addCartContainer:hover span{
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50%;
}

#viewedProduct .slideBox.productList .product .quantityContainer{
    display:none;
}

#viewedProduct .slideBox.productList .product .addCart.requestPrice {
    margin-top:0;
}

@media (max-width: 1800px){
    #viewedProduct .slideBox.productList .product {
        height: 388px;
    }
}

@media (max-width: 1024px){
    #viewedProduct .slideBox.productList .product {
        height: 355px;
    }
}

@media (max-width: 700px){
    #viewedProduct .slideBox.productList .product {
        height: 100%;
    }
}

.sale-order-detail-payment-options-methods-image-element , .sale-order-detail-payment-options-shipment-image-element , .sale-order-payment-change-pp-company-image{
    display: none;
}

.sale-order-payment-change-pp-company-graf-container {
    height: 100% !important;
}

#appFastView .appFastViewInformationColumn .label.changeAvailable,
#catalog .product .changeAvailable,
#tableContainer .available-block,
#smallElementTools .available-block,
#catalogLineList .resizeColumn.last .changeAvailable,
#catalogTableList .column .changeAvailable
{
   display: none !important;
}

#popupCartTotalId{
    font-size: large;
    color: #11c2bb;
}



.sumPoint{
    color: #11c2bb;
    font-size: large;
}
.namePoint{
    color: #11c2bb!important;
}
.top-auth-personal{
    font-size: 13px;
}
/*
@media (max-width: 1024px){
    #personalAccount{

        display: none!important;
    }
}
@media (min-width: 1024px){
    #headerLine5 .subTableColumn:last-child {

        width: 40%;
    }
}
*/

#elementContainer .brandImage {
    float: right;
}
#elementContainer .brandImage img {
    max-height: 45px;
}
@media (max-width: 500px){
    #main .container .main-description{
        padding-left: 5px;
        padding-right: 5px;
    }
    #main .container .main-description h1{
        margin-bottom: 0px;
        line-height: 24px;
        font-size: 16px;
    }
    #main .container .main-description p{
        font-size: 12px;
    }

    #main .container .main-description  span {
        line-height: 23px;
        width: 100%;
    }
}
#topSearchLine #catalogSection .changeAvailable{
    display: none;
}
/*иконки в хэдере начало */

 #subHeader9 .topWidgetItem .widget{
     display: block;
     background-size:contain ;
     background-repeat: no-repeat;
     position: absolute;

     bottom: -2px;

     height: 25px;
     width: 25px;
 }
#subHeader9 .topWidgetItem .widgetWP {
    background-image: url(/local/templates/stomart/images/whatsap_icon1.png) ;
    left: -40px;

}
#subHeader9 .topWidgetItem .widgetTG {
    bottom: 0;
    width: 22px;
    height: 22px;
    background-image: url(/local/templates/stomart/images/telegram_icon1.png) ;
    left: -70px;
}
#subHeader9 .topWidgetItem {
    position: relative;

    height: 25px;
    width: 25px;
}
@media (max-width: 650px){
    #subHeader9 .topWidgetItem .widget{


        bottom: -31px;

        height: 20px;
        width: 20px;
    }
    #subHeader9 .topWidgetItem {


        height: 20px;
        width: 20px;
    }
    #subHeader9 .topWidgetItem .widgetWP {

        right: 125px;
        left: auto;

    }
    #subHeader9 .topWidgetItem .widgetTG {
        left: auto;
        bottom: -30px;
        right: 155px;
        height: 18px;
        width: 18px;
    }
}

/*иконки в хэдере конец */

@media (max-width: 700px){
    #personalMenuWrap ul {
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
    }
    #personalMenu::after {

        content: none;

    }

}
@media (max-width: 350px){

    #personalMenuWrap #personalMenu li a {
        font-size: 14px;
    }
}


.price .measure {
    display: none;
}


.onOrder.label.changeAvailable{
    display: none;
}

@media (max-width: 750px){

    .middle.property {
        display: none !important;
    }
}

/*иконки валют нас стрнице способы оплаты*/

 .list-payment {
     max-width: 300px;
     display: flex;
     align-items: center;
     margin-bottom: -7px;
 }

.list-payment .payment-item {
    height: 42px;
    margin-right: 20px;
}

.list-payment .payment-item img {
    margin-bottom: -2px;
    max-width: 80px;
    max-height: 40px;
}

.list-payment .payment-item.mir img {
    margin-top: -5px;
}

.list-payment .payment-item.visa img {
    margin-top: -16px;
    max-width: 80px;
    max-height: 60px;
}

.payment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-download a {
    text-decoration: underline;

}
.label-download a:hover {
   color: #17a594;
}
#elementTools .label, #smallElementTools .label {
    text-decoration: underline;
}
.detail-delivery-paysystems-container {
    padding: 25px 36px;
}
.discounted-product{
    text-align: left;
}
.discounted-product p{
    line-height: 1.2;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
margin-bottom: 5px;
}
.delivery-paysystems-heading a {
    color: #000;
}

.wc_brand_wrapper .a_loyalty,
.wc_brand_wrapper .a_ros {
        color: #717171;
}

.wc_brand_wrapper .theme-color {
    font-size: 13px;
}

.wc_filter_link {
    color: #717171;
    /*text-decoration: none;*/
}
.wc_brand_wrapper {
    margin-right: 30px;}
.row.article.artGreen {
	width: 132px;
}



.widget.c-rates.c-rates-template-3 .widget-overhead {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.8px;
    color: #444444;
    margin-bottom: 10px;
}
.widget.c-rates.c-rates-template-3 .widget-items-wrap {
    overflow-y: hidden;
}
.widget.c-rates.c-rates-template-3 .widget-items {
    display: table;
    min-width: 100%;
}
.widget.c-rates.c-rates-template-3 .widget-item-head {
    font-size: 20px;
    font-weight: 500;
}
.widget.c-rates.c-rates-template-3 .widget-item-head-property-name {
    display: table-cell;
    padding: 25px;
    width: 40%;
}
.widget.c-rates.c-rates-template-3 .widget-item-head-property {
    text-align: center;
    display: table-cell;
    padding: 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.widget.c-rates.c-rates-template-3 .widget-item {
    background: rgba(206, 206, 206, 0.2);
    display: table-row;
}
.widget.c-rates.c-rates-template-3 .widget-item:nth-child(2n) {
    background: transparent;
}
.widget.c-rates.c-rates-template-3 .icon-available {
    display: inline-block;

    background-size: contain;
    width: 30px;
    height: 30px;
}
.widget.c-rates.c-rates-template-3 .icon-unavailable {
    display: inline-block;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.widget.c-rates.c-rates-template-3 .widget-item-property {
    font-size: 16px;
    line-height: 1.45;
    color: #444444;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    display: table-cell;
    padding: 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
.widget.c-rates.c-rates-template-3 .widget-item-property-name {
    font-size: 14px;
    line-height: 1.45;
    color: #444444;
    display: table-cell;
    padding: 25px;
    vertical-align: middle;
}
.widget.c-rates.c-rates-template-3 .widget-item-head-mobile {
    display: none;
    font-weight: bold;
    margin-bottom: 5px;
}
.widget.c-rates.c-rates-template-3 .widget-item-price .widget-item-property-name {
    font-size: 22px;
}
.widget.c-rates.c-rates-template-3 .widget-item-price .widget-item-property {
    font-size: 22px;
}
.widget.c-rates.c-rates-template-3 .widget-item-button {
    padding: 16px;
}
.widget.c-rates.c-rates-template-3 .widget-item-button-wrap .widget-item-property-name {
    padding: 0;
}
.widget.c-rates.c-rates-template-3 .widget-item-button-wrap .widget-item-property {
    padding: 0;
}
@media all and (max-width: 768px) {
    .widget.c-rates.c-rates-template-3 .widget-item-head-property-name,
    .widget.c-rates.c-rates-template-3 .widget-item-head-property,
    .widget.c-rates.c-rates-template-3 .widget-item-property-name,
    .widget.c-rates.c-rates-template-3 .widget-item-property {
        padding: 10px;
    }
    .widget.c-rates.c-rates-template-3 .widget-item-head {
        font-size: 14px;
    }
    .widget.c-rates.c-rates-template-3 .widget-item-property-name,
    .widget.c-rates.c-rates-template-3 .widget-item-property {
        font-size: 12px;
    }
    .widget.c-rates.c-rates-template-3 .widget-item-price .widget-item-property-name {
        font-size: 14px;
    }
    .widget.c-rates.c-rates-template-3 .widget-item-price .widget-item-property {
        font-size: 14px;
    }
    .widget.c-rates.c-rates-template-3 .icon-available {
        width: 24px;
        height: 24px;
    }
    .widget.c-rates.c-rates-template-3 .icon-unavailable {
        width: 24px;
        height: 24px;
    }
}


.widget.c-rates.c-rates-template-3 .icon-unavailable{
    display: none;
}

.detail-text-wrap .stockProduct {
    margin-top: 30px;
}

.detail-text-wrap .stockProduct .wrap {
    margin: 0;
}

@media all and (max-width: 1800px) {
    .detail-text-wrap .stockProduct .slideBox.productList .product {
        height: 404px;
    }
}

#appFastView .skuProperty .skuPropertyLink {
    border-radius: 4px;
}

.productList .product .skuProperty .skuPropertyValue .skuPropertyLink {
    border-radius: 4px;
}


/* search */
#topSearchLine {
    position: relative;
}
#subHeader9 #searchResult {
    top: 100%;
}
#subHeader9 #searchOverlap {
    background: none;
    width: 100vw;
    height: 100vh;
    top: 0 !important;
}

#topSearch2 .searchContainer {
    z-index: 99;
    position: relative;
}
#subHeader9.show #searchResult {
    overflow-y: inherit;
    height: auto;
    top: 41px;
}
.wc_search_good_hidden {
    display: none;
}
.wc-search {
    display: block;
    position: absolute;
    top: calc(100% - 1px);
    z-index: 400;
    outline: 0;
    border: 1px solid #9099ac;
    border-top: 1px solid #9099ac;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    min-width: 400px;
    max-width: none;
    -o-box-sizing: border-box;
    -ie-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

@media (max-width: 1240px) and (min-width: 768px) {
    .wc-search {
        min-width:380px;
    }
}

.wc-search .wc-products .delim-products {
    border-color: #d9d9d9;
    margin: 0px 15px;
}

.wc-search .cp-top-border {
    padding-top: 10px;
    border-top: 1px solid #dce3ea;
}

.wc-search .wc-search-content {
    overflow-y: auto;
    position: relative;
    scrollbar-color: #9099ac;
    scrollbar-width: thin;
    max-height: 500px;
}

@media (max-width: 767px) {
    .wc-search .wc-search-content {
        max-height:400px !important;
    }
}

.wc-search .wc-search-content::-webkit-scrollbar {
    width: 9px;
    height: 8px;
    background-color: #f0f0f0;
}

.wc-search .wc-search-content::-webkit-scrollbar-thumb {
    background: #cdcdcd;
}

.wc-search a {
    color: #434343;
}

.wc-search a:hover {
    color: #434343;
}

.wc-search .ty-no-items {
    margin-bottom: 0;
}

.wc-search .wc-search-header {
    height: 24px;
}

.wc-search .wc-search-loader-wrap {
    text-align: center;
    margin-top: 2px;
}

.wc-search .wc-product-price-wrap {
    margin-right: 30px;
        margin-top: 4px;
}

.wc-search .wc-product-list-price,.wc-search .wc-product-price {
    font-size: 14px;
}

.wc-search .cp-taxed-price {
    font-weight: normal;
    font-size: 12px;
}

.wc-search .cp-ls-icon-close-wrap {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 16px;
    color: #63676b;
    cursor: pointer;
}

.wc-search .cp-ls-no-items {
    color: #8e8e8ef0;
    background-color: #fff;
}

.wc-search .cp-ls-icon-close-wrap:hover {
    color: #3a3c3e;
}

.wc-search .cp-category-label-wrap {
    position: absolute;
    right: 15px;
}

@media (max-width: 767px) {
    .wc-search .cp-category-label-wrap {
        right:auto;
        left: 15px;
        bottom: 15px;
    }

    #searchResult {
        min-width: 375px;
        left: -12px;
    }
}

@media (max-width: 374px) {
    #searchResult {
        min-width: 320px;
        left: -12px;
    }
}

.wc-search .cp-category-label-wrap .cp-category-label {
    padding: 2px 8px;
    font-size: 10px;
    color: white;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85px;
    white-space: nowrap;
}

.wc-search .wc-categories {
    margin-bottom: 5px;
}

.wc-search .cp-ls-control {
    font-size: 18px;
}

.wc-search .cp-ls-section-li {
    padding: 5px 15px;
}

.wc-search .cp-ls-section-li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wc-search .wc-item-li {
    position: relative;
    padding: 10px 15px;
}

.wc-search .search_group_title {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px;
    padding: 6px 12px;
    background: #ededec;
    text-align: left;
    color: #434343;
    border-radius: 4px;
}

.wc-search .search_group_title-total {
    text-transform: lowercase;
    float: right;
}

.wc-search .search_group_body>div{
    padding: 5px 15px;
    margin: 0px 1px;
}

.wc-search .search_group_body>div:hover,.wc-search .wc-item-li:hover {
    background-color: #f3f3f3;
}

.wc-search .search_group_body>div a,.wc-search .wc-item-li a {
    font-size: 12px;
    text-decoration: none;
}

.wc-search .ty-btn {
    text-align: center;
}

.wc-search .wc-image-container {
    margin-right: 10px;
    display: block;
    float: left;
    width: 70px;
    height:70px;
    overflow: hidden;
}
.wc-search .wc-image-container img {
    object-fit: contain;
}

.wc-search .wc-info-container {
    display: block;
    margin-left: 60px;
}

.wc-search .wc-product-name {
    font-size: 12px;
    line-height: 15px;
}

.wc-search .wc-product-name-wrap {
    margin-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 35px;
}

@media (max-width: 767px) {
    .wc-search .wc-product-name-wrap {
        margin-right:0px;
    }
}

.wc-search .wc-product-code {
    font-size: 11px;
    color: #17a594;
}

.wc-search .wc-suggestion-li .wc-match-higthlight,.wc-search .wc-product-name .wc-match-higthlight,.wc-search .wc-product-code .wc-match-higthlight,.wc-search .search_group_body .wc-match-higthlight {
    font-weight: bold;
}

.wc-search .wc-product-list-price {
    text-decoration: line-through;
}

.wc-search .wc-group-category {
    padding: 5px 10px;
}

.wc-search .wc-bottom-buttons {
    margin: 10px;
}

.wc-search .wc-bottom-buttons .cp-ls-view-all,.wc-search .wc-bottom-buttons .cp-ls-load-more {
    display: inline-block;
    width: calc(50% - 4px);
    padding: 10px 5px;
    border: 1px solid #26323e;
    font-size: 12px;
    text-align: center;
    color: #26323e;
    cursor:pointer;
    box-sizing: border-box;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    border-radius: 4px;
}

.wc-search .wc-bottom-buttons .cp-ls-view-all.wide {
    width: calc(100% - 4px);
    background: #FFF;
}

.wc-search .wc-bottom-buttons .cp-ls-view-all:hover {
    background-color: #f3f3f3;
}

.wc-search .wc-bottom-buttons .cp-ls-load-more {
    margin-left: 4px;
   /* color: #fff;
    background: #26323e;*/
    background: #FFF;
}

.wc-search .wc-bottom-buttons .cp-ls-load-more:hover {
    background-color: #f3f3f3;
    border-color: #192129;
}

.wc-search .wc-bottom-buttons .cp-ls-full {
    width: 100%;
    margin: 0;
}

.wc-search .wc-search > ul > li > a {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    vertical-align: top;
}

.wc-search .cp-wc-search-buttons {
    position: absolute;
    right: 8px;
    bottom: 12px;
}

@media (max-width: 767px) {
    .wc-search .cp-wc-search-buttons {
        margin-top:5px;
        text-align: right;
        position: static;
    }
}

.wc-search .wc-item-container {
    cursor: pointer;
}

.wc-search .cp-wc-search-suggestion-count {
    display: block;
    float: right;
}

.wc-search .cp-wc-search-buttons a {
    display: inline-block;
    background: none;
    color: #808080;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
    margin-left: 2px;
    box-shadow: none;
}

.wc-search .cp-wc-search-buttons a i {
    margin: 0px;
    padding-right: 2px;
}

.wc-search .cp-wc-search-buttons a:hover {
    color: #ff140a;
}

.wc-search .cp-ls-company-title {
    font-size: 10px;
}

.wc-search .wc_suggestions>div>a {
    display:flex;
}
.wc-search .search_group_goods .wc-item-li a{
    line-height: 12px;
}

.wc-search .wc-image-container {
    width: 66px;
    height: 66px;
}
.wc-search-content .topWishlist .icon {
    height: 13px;
    width: 20px;
        background: url(/local/templates/stomart/images/heart.svg) 50% 50% no-repeat transparent;

}
.wc-search-content .topCompare .icon {
    height: 13px;
    width: 25px;
    background: url(/local/templates/stomart/images/scales.svg) 50% 50% no-repeat transparent;

}
.wc-search-content .cart .countLink {
    height: 13px;
    width: 20px;
        background: url(/local/templates/stomart/images/cart.svg) 50% 50% no-repeat transparent;

}
.wc-product-code {
    color: #434343;
}

a.wc_suggest {
    line-height: 12px;
}
.wc-search .search_group_body>div a, .wc-search .wc-item-li a {
    line-height: 12px;
}
.wc-product-code-wrap {
    line-height: 16px;
}

.addCart.added.wc_added,
.cp-wc-search-buttons .addCompare.added,
.cp-wc-search-buttons .addWishlist.added {
    filter: invert(55%) sepia(44%) saturate(6399%) hue-rotate(143deg) brightness(97%) contrast(82%);
}


.addCart.added.wc_added, .addCart.added.wc_added:hover {
    background: none !important;
}

.wc.addCart.requestPrice {
    background: none;
    background-color: #FFF !important;
    opacity: 0;
    visibility: hidden;
    pointer-events: none !important;
}

.sale-order-list-button-container {
    height: 45px;
}

.secondTool .fastBack.label.changeID img,
.secondTool .addCompare.label.changeID img,
.secondTool .addWishlist.label img{
    width: 23px;
}

#similar .productList .product .label.fastBack img,
#similar .productList .product .label.addCompare img,
#similar .productList .product .label.addWishlist img
{
    width: 20px;
}

#catalogSection .productList .product .label.fastBack img,
#catalogSection .productList .product .label.addCompare img,
#catalogSection .productList .product .addCart img,
#catalogSection .productList .product .label.addWishlist img
{
    width: 20px;
}

#catalogElement .mainTool .addCart .icon,
#catalogElement .mainTool .requestIsAvailable .icon,
#catalogElement .mainTool .fastBack .icon {
    width: 23px;
}

#similar .product .addCart .icon,
#similar .product .requestIsAvailable .icon {
    width: 23px;
}

#appBasket .goToBasket a img {
    width: 23px;
}

.cheaper-container .cheaper img,
.discounted-product a img.icon,
.delivery-button-container .deliveryBtn  img
{
    height: 15px;
}

#elementContainer .reviewsBtnWrap .row a>img {
    height: 16px;
    margin-top: 0;
}

#appFastView .appFastViewContainer .addCart>img.icon,
#appFastView .appFastViewContainer .requestIsAvailable>img.icon,
#compareBlock .scrollElement .addCart>img.icon,
#compareBlock .scrollElement .requestIsAvailable>img.icon,
#viewedProduct .productList .addCart img.icon,
#viewedProduct .productList .requestIsAvailable img.icon
{
    width: 23px;
}

#catalogLineList .item .addCart .icon,
#catalogLineList .item .requestIsAvailable .icon{
    width: 23px;
}

#catalogLineList .item .fastBack .icon,
#catalogLineList .item .addCompare .icon,
#catalogLineList .item .addWishlist .icon
{
    width: 17px;
}

#catalogTableList .item .addCart .icon,
#catalogTableList .item .requestIsAvailable .icon{
    width: 23px;
}

#catalogTableList .item .fastBack .icon,
#catalogTableList .item .addCompare .icon,
#catalogTableList .item .addWishlist .icon
{
    width: 17px;
}

#fastBuyFormSubmit img {
    width: 23px;
}

@media (max-width: 320px) {
    #subHeader9 #logo img {
        margin-left: -11px;
    }
    #subHeader9 #logo a {
        justify-content: start;
    }
    #subHeader9 #logo {
        width: 162px;
    }
    .main-description {
        box-sizing: border-box;
    }
    .product .addCart {
        font-size: 13px;
    }
    #catalogSection .productList .product .addCart img {
        width: 16px;
    }
    #personalCart #coupon .couponActivate {
        font-size: 12px;
    }


}

.cookies_warning {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000000;
    background: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.cookies_warning a.allow_cookies{
    background: #4d4d4d;
    color: #FFF;
}

.cookies_warning a.allow_cookies:hover{
    border-color: #4d4d4d;
}

.cookies_warning a{
    color: #000;
}

.cookies_warning a.disallow_cookies {
    background-image: url(/local/templates/stomart/images/exit.svg);
    position: absolute;
    display: block;
    height: 21px;
    width: 21px;
    right: 20px;
    bottom: 15px;
}
@media (max-width: 480px) {
    .cookies_btns a.allow_cookies {
        min-width: 114px;
        padding: 6px 8px 4px;
    }
    .cookies_warning {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .btn-simple.btn-small.wcBackToList {
        min-width: 114px;
        padding: 6px 8px 4px;
    }
}


#smartFilter .disabled {
  opacity: 0.4;
}
