#orderSuccess{
	display: none;
}

.cartGifts{
	/*border-left: 1px solid #e7e8ea;*/
}

#personalCart .cartGifts .productTable{
	min-width: auto;
}

.cartGifts .productList:before,
.cartGifts .productList:after{ content: ''; display: table; }
.cartGifts .productList:after{ clear: both; }

#orderSuccess h2{
	text-transform: uppercase;
	font-family: 'robotobold';
	font-size: 16px;
}

#main input[name="BuyButton"],
#main input[type="submit"]{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	line-height: 50px;
	margin-top: 12px;
	cursor: pointer;
	padding: 0 48px;
	color: #ffffff;
	height: 50px;
	border: 0px;
}

#personalCart{
	clear: both;
	margin-bottom: 32px;
}

#personalCart #basketTopLine{
	margin-bottom: 24px;
	overflow: hidden;
}

#personalCart #basketView{
	float: right;
}

#personalCart #basketView .item{
	line-height: 20px;
	height: 20px;
	float: left;
}

#personalCart #basketView .item{
	margin-right: 12px;
}

#personalCart #basketView .item a{
	display: block;
	height: 20px;
	width: 30px;
}

#personalCart #basketView .item .squares:hover{
	background-position: -30px 0;
}

#personalCart #basketView .item .squares.selected{
	background-position: -60px 0;
}

#personalCart #basketView .item .table{
	background-position: 0px -20px;
}

#personalCart #basketView .item .table:hover{
	background-position: -30px -20px;
}

#personalCart #basketView .item .table.selected{
	background-position: -60px -20px;
}

#personalCart #tabsControl{
	text-transform: uppercase;
	overflow: hidden;
	font-size: 14px;
	float: left;
}

#personalCart #tabsControl .item{
	margin-left: 24px;
	float: left;
}

#personalCart #tabsControl .item:first-child{
	margin-left: 0;
}

#personalCart #tabsControl .item a{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	font-family: 'robotobold';
	text-decoration: none;
	font-size: 16px;
	display: block;
	color: #888888;
}

#personalCart #tabsControl .item a:active{
	position: relative;
	top: 1px;
}

#personalCart #tabsControl .item .selected{
	border-bottom: 1px dashed #000000;
	color: #000000;
}

#basketProductList .productList{
	margin-bottom: 24px;
}

#basketProductList .productList .item{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/*height: 395px !important;*/
}
#basketProductList .product{
	height: 390px;
}
#basketProductList .product:before{
	content: "";
	position: absolute;
	left: 0px;
	width: 100%;
	top: -1px;
	height: 1px;
	background: #e7e8ea;
}
#personalCart #basketProductList .product:hover .tabloid{
	border-bottom-color: #f9fafc;
}
#basketProductList .product .tabloid{
	position: relative;
	height: 100%;
}
#basketProductList .product .picture{
	margin-top: 12px;
}

#basketProductList .productList .tabloid{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/*height: 393px !important;*/
}

#basketProductList .productList .product:hover .tabloid{
	/*height: 394px !important;*/
}

#basketProductList .productList .item .topSection{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	padding: 0 12px;
	width: 100%;
	z-index: 11;
	top: 12px;
	left: 0;
}

#basketProductList .productList .item .topSection .column{
	float: left;
	width: 50%;
}

#basketProductList .productList .item .topSection .icon{
	margin-top: -4px;
}

#basketProductList .productList .item .topSection .delete{
	background: url(images/delete.png) 0 0 no-repeat transparent;
	float: right;
	height: 18px;
	width: 18px;
}

#basketProductList .productList .item .topSection .delete:hover{
	background-position: -18px 0;
}

#basketProductList .productList .item .topSection .delete:active{
	background-position: -36px 0;
}

#basketProductList .delete.loading{
	background: url(images/deleteLoader.gif) 0 0 no-repeat transparent !important;
}

#basketProductList .product .label{
	width: 100%;
}

#personalCart .plus,
#personalCart .minus{
	background: url(images/plusMinus.png) 0 0 no-repeat #424242;
	vertical-align: middle;
	display: inline-block;
	height: 19px;
	width: 19px;
}

#personalCart .plus{
	background-position: 0 -19px;
}

#personalCart .plus:hover{
	background-position: -19px -19px;
}

#personalCart .plus:active{
	background-position: -38px -19px;
}

#personalCart .minus{
	margin-left: 12px;
}

#personalCart .productTable .minus{
	margin-left: 0;
}

#personalCart .minus:hover{
	background-position: -19px 0x;
}

#personalCart .minus:active{
	background-position: -38px 0px;
}

#personalCart .qty{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	vertical-align: middle;
	background-color: #e7e8ea;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	color: #000000;
	height: 19px;
	width: 30px;
	padding: 0 2px;
	border: 0;
}

#personalCart .qty.error{
	border: 1px solid #ff0000;
}

#personalCart .productTable{
	border-collapse: collapse;
	min-width: 540px;
	width: 100%;
}

#basketProductList .productList .tabloid .productTable{
	min-width: auto;
}

#personalCart .productTable img{
	vertical-align: middle;
}

#personalCart .productTable .clear{
	background: none;
	text-align: right;
	padding: 12px 0;
}

#personalCart .productTable .clear a{
	background: #F2F2F2;
	color: #2d2d2d;
	padding: 6px 12px;
	text-decoration: none;
	font-size: 14px;
}

#personalCart .productTable .clear a:active{
	position: relative;
	top:1px;
}

#personalCart .productTable .price{
	position: relative;
	display: block;
	font-size: 16px;
}

#personalCart .productTable td:first-child a:active{
	position: relative;
	top: 1px;
}

#personalCart .productTable td:first-child img{
	vertical-align: middle;
	max-width: 90%;
	max-height: 90%;
}

#personalCart .productTable th{
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	background: #f9f9f9;
	color: #000000;
	font-size: 14px;
	padding: 12px;
	text-align: center;
	font-weight: 400;
}

#personalCart .productTable td{
	text-align: center;
	padding: 12px;
	border-bottom: 1px solid #f2f2f2;
	background: #ffffff;
}

#personalCart .productTable tr:last-child td{
	border-bottom: 0;
}

#personalCart .productTable td:first-child,
#personalCart .productTable th:first-child{
	border-left: 1px solid #f2f2f2;
}

#personalCart .productTable td:last-child,
#personalCart .productTable th:last-child{
	border-right: 1px solid #f2f2f2;
}

/*#personalCart .productTable .name{
	text-align: left;
	font-size: 14px;
	width: 26%;
}*/

#personalCart .productTable .pic{
	height: 70px;
	line-height: 70px;
	display: block;
}

#personalCart .productTable .name a{
	color: #000;
	text-decoration: none;
}

#personalCart .productTable .inStock{
	font-size: 14px;
	color: #19ad24;
}

#personalCart .productTable .outOfStock{
	font-size: 13px;
	color: #7f7f7f;
}

#personalCart .productTable .inStock .icon,
#personalCart .productTable .outOfStock .icon,
#personalCart .productTable .onOrder .icon{
	margin-right: 8px;
	margin-top: -4px;
}

#personalCart .productTable .bQty{
	width: 90px;
}

#personalCart .productTable .delete{
	text-align: center;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(images/delete.png) 0 0 no-repeat;
}

#personalCart .productTable td .delete:hover{
	background: url(images/delete.png) -18px 0px no-repeat;
}

#personalCart .productTable td .delete:active{
	background: url(images/delete.png) -36px 0 no-repeat;
}

#personalCart .productTable .sum{
	font-family: 'robotobold';
	font-size: 16px;
}

#personalCart .sum.hidden{
	visibility: hidden !important;
}

#personalCart .orderLine{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f9f9f9;
	border: 1px solid #e7e8ea;
	line-height: 75px;
	padding: 0 12px;
	/*border-top: 0;*/
	height: 75px;
}

#basketProductList .productList + .orderLine,
#personalCart .orderLine.bottom{
	border-top: 1px solid #e7e8ea;
}

#personalCart .orderLine.bottom{
	background-color: #ffffff;
	padding-left: 250px;
	height: 97px;
	line-height: 97px;
}

#personalCart .orderLine .label{
	margin-right: 12px;
	font-size: 14px;
}

#personalCart .orderLine .price{
	font-family: 'robotobold';
	margin-right: 12px;
	font-size: 16px;
}

#personalCart .orderLine #countItems,
#personalCart .orderLine #allDevilerySum,
#personalCart .orderLine #countOrderItems{
	margin-right: 24px;
}

#personalCart .orderLine #sum{
	float: left;
}

#personalCart #coupon{
	text-align: right;
	float: right;
	/*width: 50%;*/
}

#personalCart #coupon input{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin-top: -3px;

	vertical-align: middle;
	display: inline-block;
	height: 48px;
	border: 0;
}

#personalCart #coupon .couponField{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transition: all 0.1s ease-in-out;
	border: 1px solid #e7e8ea;
	padding-left: 8px;
	box-shadow: none;
	color: #888888;
	width: 470px;
}

#personalCart #coupon .couponField:focus{
	border: 1px solid #cccccc;
}

#personalCart #coupon .couponField.error{
	border: 1px solid #ff0000;
}

#personalCart #coupon .couponActivate{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transition: all 0.1s ease-in-out;
	border: 1px solid #2d2d2d;
	background-color: #2d2d2d;
	border-radius: 0px;
	line-height: 48px;
	text-align: center;
	padding: 0 24px;
	font-size: 14px;
	cursor: pointer;
	color: #ffffff;
}

#personalCart #coupon .couponActivate:hover{
	border: 1px solid #202020;
	background: #202020;
}

#personalCart #coupon .couponActivate:active{
	background-color: #000000;
	color: #cccccc;
}

#personalCart #coupon .couponActivate.loading{
	opacity: 0.8;
}

/* ORDER */

#order{
	margin-top: 24px;
}

#order .title{
	font-family: 'robotobold';
	text-transform: uppercase;
	border: 1px solid #eeeeee;
	text-overflow: ellipsis;
	text-align: center;
	border-bottom: 0px;
	line-height: 80px;
	overflow: hidden;
	font-size: 16px;
	display: block;
	height: 80px;
}

#order textarea{
	padding-top: 12px;
	max-width: 100%;
	outline: none;
	resize: none;
}

.payFromBudget{
	margin-top: 12px;
}

.payFromBudget label{
	display: inline-block;
}

.orderAreas, .personSelectContainer{
	border-collapse: collapse;
	border: 1px solid #eeeeee;
	table-layout: fixed;
	border-bottom: 0px;
	position:static;
	width: 100%;
}

.orderAreas .deliSelect + .userProp{
	margin-top: 12px;
}

.orderAreas .deliveryDescription{
	margin-top: 18px;
	clear: both;
}

.orderAreas .deliveryDescription:not(.hidden) + .deliveryPeriod{
	margin-top: 6px;
}

.orderAreas .deliveryPeriod{
	margin-top: 18px;
	clear: both;
}

.orderAreas .deliveryPeriodLabel{
	margin-right: 6px;
	float: left;
}

/*delivery modules*/
.orderAreas .deliveryDescription a.SDEK_selectPVZ,
.orderAreas .deliveryPeriodDescription a[onclick],
.orderAreas .deliveryDescription a[onclick],
.orderAreas #bx-soa-delivery a[onclick]{
	vertical-align: middle;
	display: inline-block;
	color: #73B24E;
}

/*pickpoint*/

#tPP{
	width: 100%;
}

#tPP tr td:first-child{
	border-top: 1px solid #e7e8ea;
	padding-top: 12px;
	margin-top: 12px;
}

/*pickpoint*/
#tPP td{
	width: auto !important;
	text-align: left;
	margin-top: 6px;
	display: block;
	padding: 0;
	border: 0;
}

#tPP tr td:empty{
	padding-top: 0;
	margin-top: 0;
	border: 0;
}

.userProp{
	list-style: none;
	padding: 0;
	margin: 0;
}

.userProp .hidden{
	display: none;
}

.orderAreas{
	display: none;
}

.orderAreas.active{
	display: table;
}

.orderAreas td.mainPropArea{
	padding-top: 0px;
}

.orderAreas td,
.personSelectContainer td{
	border-top:1px solid #eeeeee;
	position: relative;
	padding: 24px 0;
}

.orderAreas td:first-child,
.personSelectContainer td:first-child{
	vertical-align: middle;
	text-align: center;
	width: 250px;
}

.orderAreas td:last-child,
.personSelectContainer td:last-child{
	padding-right: 24px;
}

.orderAreas td:first-child span,
.personSelectContainer td:first-child span{
	font-family: 'robotobold';
	text-transform: uppercase;
	text-align: center;
	margin-top: 12px;
	font-size: 14px;
	display: block;
	color: #888888;
}

.userProp .propItem{
	position: relative;
	margin: 24px 0 0 0;
	list-style: none;
	clear: both;
	padding: 0;
}

.orderAreas .label{
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 6px;
	margin-right: 24px;
}

.orderAreas label,
.personSelectContainer label{
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 12px;
	font-size: 12px;
	display: block;
	color: #aaaaaa;
}

.orderAreas .electroCheck_div{
	float: left;
}

.storeSelectContainer{
	margin-top: 12px;
}

.orderAreas .propLine{
	line-height: normal;
	font-size: 0;
}

.orderAreas select,
.personSelectContainer select{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #f2f2f2;
	background: #f9f9f9;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 14px;
	display: block;
	height: 50px;
	width: 80%;
	clear: both;
}

#order .dropDown{
	border: 1px solid #f2f2f2;
	background: #f9f9f9;
	position: relative;
	border-radius: 2px;
	line-height: 50px;
	display: block;
	height: 50px;
	width: 80%;
}

#order .dropDown .dropDownSelected{
	transition: all 0.2s ease-in-out;
	font-family: "roboto_ltregular";
	text-overflow: ellipsis;
	padding: 0 24px 0 12px;
	box-sizing: border-box;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	border-radius: 2px;
	position: relative;
	line-height: 48px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
	color: #000000;
	height: 50px;
	width: 100%;
}

#order .dropDown .dropDownSelected:hover{
	opacity: 0.9;
}

#order .dropDown .dropDownSelected:after{
	background: url(images/selectArrow.png) 50% 50% no-repeat transparent;
	position: absolute;
	margin-top: -3px;
	display: block;
	content: "";
	height: 5px;
	right: 12px;
	width: 9px;
	top: 50%;
}

#order .dropDown .dropDownItems,
#order .dropDown select{
	display: none;
}

#order .dropDown .dropDownItems{
	border-right: 1px solid #e7e8ea;
	border-left: 1px solid #e7e8ea;
	border-top: 1px solid #e7e8ea;
	position: absolute;
	border-radius: 2px;
	width: 100%;
	z-index: 99;
	left: -1px;
	top: 52px;
}

#order .dropDown .dropDownItems.opened{
	background-color: #ffffff;
	display: block;
}

#order .dropDown .dropDownItem{
	transition: all 0.2s ease-in-out;
	border-bottom: 1px solid #e7e8ea;
	font-family: "roboto_ltregular";
	text-overflow: ellipsis;
	box-sizing: border-box;
	white-space: nowrap;
	border-radius: 2px;
	padding: 8px 12px;
	line-height: 21px;
	overflow: hidden;
	font-size: 14px;
	cursor: pointer;
	width: 100%;
}

#order .dropDown .dropDownItem:hover{
	background-color: #f4f4f4;
	opacity: 0.9;
}

#order .dropDown .dropDownItem.selected{
	font-family: "robotomedium";
	background-color: #f4f4f4;
	cursor: unset;
}

.orderAreas select[multiple]{
	padding-top: 12px;
}

.orderAreas input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #f2f2f2;
	background: #f9f9f9;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 14px;
	display: block;
	height: 50px;
	width: 80%;
	clear: both;
}

.orderAreas input[type="checkbox"]{
	vertical-align: middle;
	display: inline-block;
	margin-right: 6px;
	cursor: pointer;
	font-size: 14px;
	height: 17px;
	width: 17px;
	padding: 0;
	border : 0;
}

.orderAreas input[type="file"],
.orderAreas input[type="button"]{
	cursor: pointer;
	outline: none;
	border: none;
	height: auto;
	padding: 0;
	margin: 0;
}

.orderAreas input[type="file"]:active,
.orderAreas input[type="file"]:focus{
	outline: none;
	border: none;
}

.orderAreas .multi{
	height:auto !important;
	/*padding-left: 4px;*/
	overflow: auto;
}

.orderAreas input[type="checkbox"] + label{
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	font-size: 14px;
	cursor: pointer;
	color: #000000;
}

.orderAreas input[type="radio"]{
	vertical-align: middle;
	display: inline-block;
	padding: 0 !important;
	border: 0 !important;
	margin-right: 6px;
	text-align: left;
	font-size: 14px;
	cursor: pointer;
	height: 17px;
	width: 17px;
	clear: both;
}

.orderAreas input[type="radio"] + label{
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	cursor: pointer;
	font-size: 14px;
	color: #000000;
}

.orderAreas input[type="checkbox"].error + label:before{
	border: 1px solid #ff0000;
	border-radius: 4px;
}

.orderAreas input[type="checkbox"] + label,
.orderAreas input[type="radio"] + label{
	cursor: pointer;
}

.orderAreas input[type="checkbox"]:not(checked),
.orderAreas input[type="radio"]:not(checked){
	position: absolute;
	opacity: 0;
}

.orderAreas input[type="checkbox"]:not(checked) + label,
.orderAreas input[type="radio"]:not(checked) + label{
	position: relative;
	padding-left: 28px;
}

.orderAreas input[type="checkbox"] + label:before{
	background: url(images/checkBox.png) 0 0 no-repeat transparent;
}

.orderAreas input[type="radio"] + label:before{
	background: url(images/radio.png) 0 0 no-repeat transparent;
}

.orderAreas input[type="checkbox"]:not(checked) + label:before,
.orderAreas input[type="radio"]:not(checked) + label:before{
	position: absolute;
	content: " ";
    height: 17px;
	width: 17px;
	left: 0px;
	top: 0px;
}

.orderAreas input[type="checkbox"]:not(checked) + label:hover:before,
.orderAreas input[type="radio"]:not(checked) + label:hover:before{
	background-position: 0 -17px;
}

.orderAreas input[type="checkbox"]:checked + label:before,
.orderAreas input[type="radio"]:checked + label:before{
	background-position: 0 -34px;
}

.orderAreas input[type="checkbox"]:checked + label:hover:before,
.orderAreas input[type="radio"]:checked + label:hover:before{
	background-position: 0 -51px;
}

.orderAreas input[type="checkbox"]:disabled + label,
.orderAreas input[type="radio"]:disabled + label{
	cursor: default;
}

.orderAreas input[type="checkbox"]:disabled + label:before,
.orderAreas input[type="radio"]:disabled + label:before{
	background-position: 0 -68px !important;
}

.orderAreas textarea{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	display: block;
	width: 80%;
	height: 100px;
	margin-top: 6px;
	border: 1px solid #f2f2f2;
	background: #f9f9f9;
	padding-top: 4px;
	padding-left: 12px;
	padding-right: 12px;
	resize: vertical;
	clear:both;
}

.orderAreas select:focus,
.orderAreas textarea:focus,
.orderAreas input:focus{
	border:1px solid #ccc;
	outline: none;
}

/* locations */
.locationSwitchContainer{
	position: relative;
	z-index: 99;
}

.location.loading{
	background: url(images/spin-1.4s-35px.gif) 99% 50% no-repeat transparent;
	opacity: 0.9;
}

.locationSwitch{
	border: 1px solid #dddddd;
	box-sizing: border-box;
	position: absolute;
	max-height: 182px;
	margin-top: 8px;
	overflow: auto;
	z-index: 99;
	width: 80%;
}

.locationSwitch .locationSwitchItem{
	box-sizing: border-box;
	cursor: pointer;
	margin-top: 4px;
	display: block;
	margin: 0px;
}

.locationSwitch .locationSwitchLink{
	box-sizing: border-box;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	background: #F9F9F9;
	line-height: 30px;
	padding: 0px 12px;
	color: #000000;
	height: 30px;
	width: 100%;
}

.locationSwitch .locationSwitchLink:hover{
	color: #888888;
}

.locationSwitch .locationSwitchItem:nth-child(odd) .locationSwitchLink{
	background: #fff;
}

#orderMake.loading{
	background-image: url(images/spin-1.5s-48px.svg);
	color: rgba(255, 255, 255, 0.9);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: none;
	pointer-events: none;
	-o-transition: none;
	transition: none;
	opacity: 0.65;
}

.orderMake{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
	margin-right: 24px;
	text-align: center;
	line-height: 54px;
	font-size: 14px;
	color: #ffffff;
	height: 54px;
	width: 225px;
}

.orderMake:active{
	position: relative;
	top: 1px;
}

.orderMake img{
	vertical-align: middle;
	padding-right: 8px;
	margin-top: -2px;
}

.minimumPayment{
	background-color: #f9f9f9;
	line-height: 200px;
	padding: 0px 60px;
	margin: 24px 0px;
	overflow: hidden;
	height: 200px;
}

.minimumPaymentLeft{
	float: left;
}

.minimumPaymentRight{
	float: right;
}

.paymentMessageHeading{
	font-family: "robotobold";
	margin-bottom: 12px;
	font-size: 24px;
}

.paymentIcon,
.paymentMessage,
.paymentButtons{
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
}

.paymentButtonsMain,
.paymentButtonsCatalog{
	vertical-align: middle;
	display: inline-block;
}

.paymentButtonsMain{
	margin-right: 12px;
}

.paymentIcon{
	margin-right: 60px;
}

.basketError{
	background-color: rgba(0, 0, 0, 0.298);
	display: none;
	height: 100%;
	left: 0px;
	overflow: visible;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 998;
}

.basketErrorContainer{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.500);
 	transform: translate(-50%, -50%);
	background-color: #ffffff;
	text-align: center;
	position: relative;
	overflow: hidden;
	padding: 24px;
	color: #000000;
	width: 420px;
	z-index: 999;
	left: 50%;
	top: 50%;
}

.basketErrorContainer .errorPicture{
	margin-bottom: 12px;
}

.basketErrorContainer .errorPicture img{
	max-height: 100%;
	max-width: 100%;
}

.basketErrorContainer .errorHeading{
	font-family: "robotobold";
	font-size: 18px;
	color: #000000;
}

.basketErrorContainer .errorMessage{
	margin-bottom: 12px;
	text-align: center;
	margin-top: 12px;
	font-size: 14px;
	padding: 0 12px;
	color: #000000;
}

.basketErrorContainer .errorClose{
	background-color: #424242;
    border-radius: 50%;
    position: absolute;
    display: block;
    right: -16px;
    height: 65px;
    width: 65px;
    top: -16px;
}

.basketErrorContainer .errorCloseLink{
	background: url("images/close.png") 0px 0px no-repeat transparent;
    position: absolute;
    display: block;
    height: 21px;
    width: 21px;
    right: 26px;
    top: 26px;
}

.basketErrorContainer .errorCloseLink:hover{
	background-position: 0px -21px;
}

.basketErrorContainer .errorCloseLink:active{
	background-position: 0px -42px;
}

.basketErrorContainer .basketErrorButton{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #cccccc;
	background: #424242;
	width: 140px;
	text-decoration: none;
	margin: 0px auto 12px;
}

.basketErrorContainer .basketErrorButton:hover{
	background: #2b2b2b;
}

.basketErrorContainer .basketErrorButton:active{
	position: relative;
	top: 1px;
}

.orderAreas .error{
	border:1px solid #ff0000;
}

.orderLoad{
	-webkit-transition: background 0s !important;
	-o-transition: background 0s !important;
	transition: background 0s !important;
	text-indent: 12px;
	opacity: 0.9;
}

.orderLoad img{
	display: none;
}

.wait{
	pointer-events: none;
	position: relative;
}

.wait > *{
	opacity: .4;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.wait:after{
	background: url(images/wait.gif) 50% 50% no-repeat;
	position: absolute;
	content: " ";
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

#basketProductList .tb{
	text-align: center;
	height: 100%;
}

#basketProductList .tc{
	padding: 12px 30px;
}

.fastBayContainer{
	background: #f9f9f9;
}

.fastBayImg{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 12px;
}

.fastBayLabel{
	margin-bottom: 8px;
	font-family: "robotobold";
	font-size: 18px;
	color: #000000;
}

.fastBayText{
	margin-bottom: 12px;
	font-size: 13px;
	line-height: 15px;
	color: #888888;
}

.serviceSelectItem{
	margin-top: 24px;
}

.extraServiceQuantityTable{
	border-collapse: collapse;
	/*table-layout: fixed;*/
	width: 80%;
}

#order .extraServiceQuantityTable td:first-child{
	text-align: left;
}

#order .extraServiceQuantityTable td{
	text-align: center;
	border: 0px;
}

#order .extraServicesItem{
	margin-top: 24px;
}

#order .serviceBoxItems{
	margin-top: 24px;
}

#order .serviceBoxItem{
	margin-top: 6px;
}

#order .serviceBoxContainer .serviceDescription{
	display: block;
}

#order .serviceBoxContainer .servicePrice{
	display: inline-block;
}

#order .serviceDescription{
	color: #888888;
}

#order .serviceHeadingContainer .serviceName,
#order .serviceHeadingContainer .servicePrice,
#order .serviceHeadingContainer .serviceTotalSum{
	vertical-align: middle;
	display: inline-block;
}

#order .serviceHeadingContainer .servicePrice,
#order .serviceHeadingContainer .serviceTotalSum{
	margin-left: 12px;
}

#order .extraServiceQuantity .serviceDescription{
	margin-top: 4px;
}

#order .extraServiceQuantity input[type="text"]{
	margin-top: 12px;
}

#basketProductList .show-always{
	display: inline-block;
	padding-left: 18px;
	padding-right: 18px;
}

.orderAccountNumber{
	margin-bottom: 12px;
	font-size: 18px;
}

.paymentNumber{
	margin-bottom: 12px;
	font-size: 14px;
}

.orderAccountNumber span,
.paymentNumber span{
	font-family: "robotomedium";
}

.personalText{
	margin-bottom: 12px;
}

.personalText a{
	transition: all 0.2s ease-in-out;
	color: #000000;
}

.personalText a:hover{
	opacity: 0.7;
}

.personalText a:active{
	position: relative;
	top: 1px;
}

.paymentHeading{
	font-family: "robotomedium";
	margin-bottom: 12px;
}

.nextPayment{
	margin-bottom: 12px;
}

.orderError{
	font-family: "robotomedium";
	color: #ff0000;
}

.paymentError{
	color: #ff0000;
}

.goToOrder{
	line-height: normal;
	margin-bottom: 24px;
}

.goToOrder.hidden{
	display: none;
}

.goToOrder img{
	vertical-align: middle;
	margin-right: 12px;
}

.confirmContainer.confirmed{
	margin-bottom: 24px;
}

.confirmContainer .confirmHeading{
	font-family: "robotobold";
	margin-top: -8px;
	font-size: 18px;
}

.confirmContainer .confirmText{
	margin-top: 24px;
}

.confirmContainer .confirmForm{
	transition: all 0.2s ease-in-out;
	border: 1px solid transparent;
	background-color: #f3f3f3;
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 12px;
	padding: 24px;
	width: 500px;
}

.confirmContainer .confirmForm.error{
	border: 1px solid #e40f37;
}

.confirmContainer .confirmCodeContainer{
	position: relative;
	line-height: 52px;
	margin-top: 6px;
	height: 52px;
}

.confirmContainer .confirmCode{
	background-color: transparent !important; /*for ios13*/
	-webkit-text-size-adjust: 100%;
	background-clip: padding-box;
	-webkit-appearance: none;
	box-sizing: border-box;
	-moz-appearance: none;
	letter-spacing: 10px;
	border-radius: 0px;
	position: relative;
	font-weight: bold;
	line-height: 52px;
	text-align: left;
	appearance: none;
	box-shadow: none;
	font-size: 48px;
	text-indent: 0;
	color: #000000;
	outline: none;
	padding: 0px;
	height: 52px;
	width: 158px;
	border: 0px;
	margin: 0px;
	z-index: 1;
	zoom: 1;
}

.confirmContainer .confirmCode:focus{
	background-color: transparent !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	letter-spacing: 10px;
	appearance: none;
	box-shadow: none;
	padding: 0px;
	margin: 0px;
}

.confirmContainer .confirmCode:-webkit-autofill,
.confirmContainer .confirmCode:-webkit-autofill:hover,
.confirmContainer .confirmCode:-webkit-autofill:focus{
	background-color: transparent !important;
	color: #000000 !important;
}

.confirmContainer .confirmSubstrate{
	background-color: #f3f3f3;
	box-sizing: border-box;
	letter-spacing: 10px;
	pointer-events: none;
	position: absolute;
	border-radius: 0px;
	font-weight: bold;
	line-height: 52px;
	text-align: left;
	font-size: 48px;
	color: #d0d0d0;
	outline: none;
	height: 52px;
	width: 158px;
	height: 52px;
	z-index: 0;
	left: 0px;
	top: 0px;
}

.confirmContainer .confirmTable{
	border-collapse: collapse;
	table-layout: fixed;
	display: table;
	width: 100%;
}

.confirmContainer .confirmTable .confirmButton,
.confirmContainer .confirmTable .confirmData{
	vertical-align: middle;
	display: table-cell;
	width: 50%:;
}

.confirmContainer .confirmTable .confirmButton{
	text-align: right;
}

.confirmContainer .confirmForm.success{
	border: 1px solid #90b304;
	margin-bottom: 12px;
}

.confirmContainer .confirmForm.success .confirmReplay{
	display: none;
}

.confirmContainer .confirmForm.success .confirmSend,
.confirmContainer .confirmForm.success .confirmCode{
	pointer-events: none;
}

.confirmContainer .confirmForm.success .confirmSend{
	background-color: #90b304;
}

.confirmContainer .confirmErrorItem{
	font-family: "robotomedium";
	margin-top: 12px;
	color: #e40f37;
}

.confirmContainer .confirmSend.error{
	opacity: 0.9;
}

.confirmContainer .confirmSend.loading{
	background-image: url(images/loader-38px.svg) !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    pointer-events: none !important;
    transition: none !important;
    opacity: 0.9 !important;
}

.confirmContainer .confirmErrors{
	display: none;
}

.confirmContainer .confirmErrors.opened{
	display: block;
}

.confirmContainer .confirmReplay{
	margin: 12px 0px 24px 0px;
	pointer-events: none;
	cursor: progress;
	opacity: 0.7;
}

.confirmContainer .confirmReplay.ready{
	pointer-events: auto;
	cursor: pointer;
}

.confirmContainer .confirmReplay.loading{
	opacity: 0.6;
}

.confirmContainer .confirmReplay.hidden{
	visibility: hidden;
	display: none;
}

.confirmContainer .confirmReplay .confirmTimer{
	display: inline-block;
	margin-left: 6px;
}

.confirmContainer .confirmReplay .confirmTimer.hidden{
	display: none;
}

#order .hidden{
	display: none;
}

@media all and (max-width: 1800px){
	#basketProductList .product{
		height: 410px;
	}
}

@media all and (max-width: 1750px){
	.minimumPayment .paymentButtonsCatalog{
		display: none;
	}
}

@media all and (max-width: 1590px){

	#personalCart .orderLine.bottom{
		padding-left: 24px;
	}

	.minimumPayment .minimumPaymentRight{
		display: none;
	}

}

@media all and (max-width: 1500px){

	#personalCart #coupon .couponField{
		width: 300px;
	}
}

@media all and (max-width: 1400px){
	#tabsControl .item:first-child{
		display: none;
	}

	#personalCart #tabsControl .item:nth-child(2){
		margin-left: 0;
	}

	/*	#personalCart .productTable .name{
		width: 22%;
	}*/
}

@media all and (max-width: 1350px){

	#personalCart #coupon .couponField{
		width: 230px;
	}

	#personalCart #coupon .couponActivate{
		padding: 0 12px;
	}
}

@media all and (max-width: 1300px){

	.minimumPayment{
		line-height: 180px;
		padding: 0 30px;
		height: 180px;
	}

}

@media all and (max-width: 1270px){

	.minimumPayment{
		line-height: 150px;
		height: 150px;
	}

	.minimumPaymentLeft{
		float: none;
	}

	.minimumPayment{
		text-align: center;
	}

	.minimumPayment .paymentIcon{
		display: none;
	}

}

@media all and (max-width: 1250px){
	.productTable th:nth-child(6),
	.productTable td:nth-child(6){
		display: none;
	}
}

@media all and (max-width: 1200px){

	#personalCart .orderLine #sum{
		width: 100%;
	}

	#personalCart #coupon{
		margin: 0 -12px;
		float: unset;
	}

	#personalCart .orderLine{
		margin-bottom: 78px;
	}

	#personalCart #coupon .couponField{
		width: 80%;
	}

	#personalCart #coupon .couponActivate{
		width: 20%;
	}

	#personalCart .orderLine.bottom .hd{
		display: none;
	}

	.orderMake{
		width: 190px;
	}
}

@media all and (max-width: 1150px){

	#personalCart #basketView .item:first-child span{
		display: none;
	}
}

@media all and (max-width: 1024px){

	#personalCart #basketView .item:first-child span{
		display: block;
	}

	#basketProductList .product{
		height: 370px;
	}
}

@media all and (max-width: 830px){
	#personalCart #tabsControl{
		float: none;
	}

	#personalCart #tabsControl .item{
		margin-bottom: 12px;
		margin-right: 24px;
		margin-left: 0px;
		width: auto;
		/*float: none;*/
	}

	#personalCart #tabsControl .item:last-child{
		margin-bottom: 0px;
	}

	#personalCart #tabsControl .item .selected,
	#personalCart #tabsControl .item .selected:hover{
		border-bottom: 0px;
	}

	#personalCart #basketView{
		margin-top: 12px;
		float: none;
	}

	.productTable th:nth-child(4),
	.productTable td:nth-child(4){
		display: none;
	}

	.personalInfoLabel{
		padding-left: 36px;
	}
}

@media all and (max-width: 820px){

	.orderAreas td:first-child,
	.personSelectContainer td:first-child{
		display: none;
	}

	.payFromBudget{
		margin: 12px auto 0 auto;
		width: 90%;
	}

	.orderAreas .locationSwitchContainer{
		margin: auto;
		width: 90%;
	}

	.orderAreas .locationSwitch{
		margin-top: 0px;
		width: 100%;
	}

	#order .dropDown{
		margin: 12px auto;
		width: 90%;
	}

	.orderAreas select,
	.orderAreas .propLine,
	.personSelectContainer select,
	.orderAreas .extraServicesItem,
	.orderAreas input[type="file"],
	.orderAreas input[type="button"]{
		margin: 12px auto;
		width: 90%;
	}

	.orderAreas input{
		margin: 12px auto;
		width: 90%;
	}

	#order .extraServicesItem input[type="text"],
	#order .extraServicesItem .dropDownSelected,
	#order .extraServicesItem .dropDown{
		width: 100%;
	}

	.orderAreas label,
	.personSelectContainer label,
	.orderAreas .label{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		margin: auto;
		float: none;
		width: 90%;
	}

	.orderAreas textarea{
		margin: 12px auto;
		width: 90%;
	}

	.orderAreas td:last-child,
	.personSelectContainer td:last-child{
		padding-right: 0;
	}

	.orderAreas .deliveryDescription,
	.orderAreas .deliveryPeriod{
		margin-right: auto;
		margin-left: auto;
   		width: 90%;
	}

	.orderAreas #bx-soa-delivery{
		margin-right: auto;
		margin-left: auto;
   		width: 90%;
	}

}

@media all and (max-width: 700px){

	#personalCart .orderLine #sum .hd{
		display: none;
	}

	#order .orderLine.bottom{
		margin-bottom: 0px;
		line-height: 21px;
		padding-top: 24px;
		border-bottom: 0;
		border-right: 0;
		border-left: 0;
	}

	#personalCart .orderLine.bottom .label:not(.hidden){
		padding-bottom: 12px;
		margin-top: 12px;
		display: block;
	}

	#personalCart .orderLine.bottom{
		padding-bottom: 24px;
	}

	#basketTopLine{
		display: none;
	}

	#basketProductList .productList .item .topSection{
		top: 6px;
		padding: 0 6px;
	}

	#basketProductList .product{
		height: 150px;
	}

	.fastBayImg{
		display: none;
	}

	.fastBayLabel{
		font-size: 16px;
		margin-bottom: 6px;
	}

	.basketQty{
		font-size: 0;
	}

	#personalCart .minus{
		margin: 0;
	}

	.minimumPayment{
		line-height: normal;
		padding: 24px 0px;
		height: auto;
	}

	.minimumPayment .paymentMessageHeading{
		margin-bottom: 0px;
	}

	.minimumPayment .paymentMessageText{
		display: none;
	}

	.minimumPayment .paymentMessageHeading{
		font-size: 21px;
	}

}

@media all and (max-width: 600px){

	.confirmContainer .confirmTable{
		display: block;
	}

	.confirmContainer .confirmCodeContainer{
		margin-left: 18px;
	}

	.confirmContainer .confirmForm{
		box-sizing: border-box;
		width: 336px;
	}

	.confirmContainer .confirmSubstrate{
		transform: translate(-50%, 0%);
		line-height: 52px;
		height: 52px;
		left: 50%;
	}

	.confirmContainer .confirmTable .confirmButton,
	.confirmContainer .confirmTable .confirmData{
		text-align: center;
		display: block;
		width: 100%;
	}

	.confirmContainer .confirmTable .confirmButton{
		margin-top: 12px;
	}

	#personalCart #coupon .couponField{
		width: 65%;
	}

	#personalCart #coupon .couponActivate{
		width: 35%;
	}

	#basketProductList{
		padding-top: 1px;
		overflow-x: scroll;
	}

	#order .title{
		padding: 0 12px;
	}

	.basketQty{
		min-width: 90px;
	}

	.price{
		min-width: 100px;
	}

	.personalInfoLabel{
		padding-left: 24px;
	}

	#personalCart .orderLine.bottom{
	    padding-left: 12px;
	}
}

@media all and (max-width: 550px){

	.minimumPayment{
		padding: 12px 0px;
	}

	.minimumPayment .paymentMessageHeading{
		font-size: 18px;
	}

	.minimumPayment .paymentMessageHeading span{
		display: block;
	}

}
@media all and (max-width: 550px){
	.basketError .basketErrorContainer{
		width: 300px;
	}
}

@media all and (max-width: 480px){

	#order .title{
		padding: 12px 6px;
		height: auto;
		line-height: 28px;
	}

}

@media all and (max-width: 400px){

	.personalInfoLabel{
		padding-left: 12px;
	}

}

@media all and (max-width: 358px){
	.confirmContainer .confirmForm{
		box-sizing: border-box;
		width: 296px;
	}
}

