.bx-pagination {
	margin: 10px 0;
}

.bx-pagination .bx-pagination-container {
	text-align: center;
	position: relative;
}

.bx-pagination .bx-pagination-container ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

.bx-pagination .bx-pagination-container ul li {
	display: inline-block;
	margin: 0 2px 15px 2px;
}

.bx-pagination .bx-pagination-container ul li span {
	-webkit-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-moz-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-ms-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	-o-transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	transition: color .3s ease, background-color .3s ease, border-color .3s ease;
	background: #eff0f1;
	padding: 0 8px;
	display: block;
	height: 32px;
	min-width: 32px;
	line-height: 32px;
	color: #444;
	font-size: 14px;
	border-radius: 16px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bx-pagination .bx-pagination-container ul li a {
	text-decoration: none;
	display: block;
	border-radius: 16px;
	display: block;
	height: 32px;
	min-width: 32px;
	line-height: 32px;
	color: #444;
	vertical-align: middle;
}

.bx-pagination .bx-pagination-container ul li a:hover span {
	background: #DADADA;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
	background: #fff;
	border: 2px solid #eff0f1;
	line-height: 28px;
	padding: 0 18px;
	color: #444;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next span {
	color: #aab1b4;
	background: #fff;
	border: 2px solid #eff0f1;
	line-height: 28px;
	padding: 0 18px;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span {
	background: #fff;
	border-color: #DADADA;
	color: #000;
}

.bx-pagination.wc .load_more {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 7px;
}

.bx-pagination.wc .load-more-items-blog {
	background: #fff;
	border: 2px solid #eff0f1;
	padding: 0 18px;
	color: #444;
	text-decoration: none;
	display: block;
	border-radius: 16px;
	height: 32px;
	width: 112px;
	line-height: 32px;
	vertical-align: middle;
	cursor: pointer;
	font-size: 14px;
}

.bx-pagination.wc .bx-pag-next, .bx-pagination.wc .bx-pag-prev {
	background: url(/local/templates/stomart/components/dresscode/search.line/version2/images/searchIcoH2.png) 0 0 no-repeat transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: transparent;
	cursor: pointer;
	height: 45px;
	border: none;
	width: 45px;
	background-size: cover;
}

.bx-pagination.wc .bx-pag-next span, .bx-pagination.wc .bx-pag-prev span {
	display: none;
}

.bx-pagination.wc .bx-pag-prev {
	transform: rotate(180deg);
}

.bx-pagination.wc .bx-pagination-container ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
