.middle.property .brand-name:hover{
    border-color: #000000;
}

.middle.property .brand-name{

    text-decoration: none;

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    color: #000000;
    border-bottom: 1px dashed #b9b9b9;
}
.discounted-product{
    margin: 0.5rem auto;
    text-align: center !important;
    font-weight: bold;
}
.discounted-price{

    color: #888888 !important;
}
.wc_filter_link{
    text-decoration: underline;
}
.list_bc{
    color: #17a291;
    padding-top: 6px;
    display: block;
}